{% comment %}
    Renders a mobile dropdown

    Accepts:
    - blocks: Section blocks

    Usage:
    {% render 'mobile-dropdown', blocks: section.blocks %}
{% endcomment %}

<details class="mobile-dropdown">
	<summary><span class="gush-font-p2">{{blocks[0].settings.title}}</span> {% render 'drop-down-icon' %}</summary>
	<div class="options">
	{% for block in blocks %}
			<div class="option {% if forloop.first -%}
			active
	 {%- endif -%}" data-option-target="#{{block.settings.title | handleize }}"{{ block.shopify_attributes }}>
				<div class="gush-font-p1">{{block.settings.title}}</div>
			</div>
	{% endfor %}
  </div>
</details>