<style>
  @import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

@font-face {
  font-family: "GT America-Medium";
  src: url("https://anima-uploads.s3.amazonaws.com/5c470e053a0ee0000b2dbe54/GT-America-Standard-Medium.otf")
    format("opentype");
}

  :root {
  --secondary-6: rgba(48, 33, 18, 1);
  --gush-fuschia: rgba(255, 66, 239, 1);
  --gush-white: rgba(255, 255, 255, 1);
  --gush-orange: rgba(255, 85, 0, 1);
  --gush-green: rgba(0, 255, 0, 1);
  --gush-yellow: rgba(255, 201, 0, 1);
}

.element {
  position: relative;
  width: 390px;
  height: 570px;
  background-color: #f2e5ff;
}

.element .text-wrapper {
  position: absolute;
  width: 346px;
  height: 55px;
  top: 44px;
  left: 22px;
  font-family: "ABC Camera-Regular", Helvetica;
  font-weight: 400;
  color: #311a08;
  font-size: 42px;
  text-align: center;
  letter-spacing: 0;
  line-height: 52px;
  white-space: nowrap;
}

.element .img {
  position: absolute;
  width: 252px;
  height: 267px;
  top: 151px;
  left: 69px;
}

.element .frame {
  position: absolute;
  width: 47px;
  height: 47px;
  top: 261px;
  left: 321px;
}

.element .group-wrapper {
  position: relative;
  width: 24px;
  height: 24px;
  top: 13px;
  left: 13px;
}

.element .group {
  top: 2px;
  position: relative;
  width: 19px;
  height: 19px;
  left: 2px;
}

.element .div {
  top: 9px;
  left: 17px;
  background-color: #000000;
  border-radius: 1px;
  position: absolute;
  width: 2px;
  height: 2px;
}

.element .group-2 {
  top: 9px;
  left: 12px;
  background-color: #000000;
  border-radius: 1px;
  position: absolute;
  width: 2px;
  height: 2px;
}

.element .group-3 {
  top: 9px;
  left: 8px;
  background-color: #000000;
  border-radius: 1px;
  position: absolute;
  width: 2px;
  height: 2px;
}

.element .group-4 {
  top: 9px;
  left: 4px;
  background-color: #000000;
  border-radius: 1px;
  position: absolute;
  width: 2px;
  height: 2px;
}

.element .group-5 {
  top: 9px;
  left: 0;
  background-color: #000000;
  border-radius: 1px;
  position: absolute;
  width: 2px;
  height: 2px;
}

.element .group-6 {
  top: 11px;
  left: 15px;
  background-color: #000000;
  border-radius: 1px;
  position: absolute;
  width: 2px;
  height: 2px;
}

.element .group-7 {
  top: 14px;
  left: 12px;
  background-color: #000000;
  border-radius: 1px;
  position: absolute;
  width: 2px;
  height: 2px;
}

.element .group-8 {
  top: 17px;
  left: 9px;
  background-color: #000000;
  border-radius: 1px;
  position: absolute;
  width: 2px;
  height: 2px;
}

.element .group-9 {
  top: 0;
  left: 9px;
  position: absolute;
  width: 2px;
  height: 2px;
}

.element .group-10 {
  top: 3px;
  left: 12px;
  background-color: #000000;
  border-radius: 1px;
  position: absolute;
  width: 2px;
  height: 2px;
}

.element .group-11 {
  top: 6px;
  left: 15px;
  background-color: #000000;
  border-radius: 1px;
  position: absolute;
  width: 2px;
  height: 2px;
}

.element .button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  position: absolute;
  top: 470px;
  left: 107px;
  border-radius: 1px;
  border: 1px solid;
  border-color: var(--secondary-6);
  all: unset;
  box-sizing: border-box;
}

.element .text {
  position: relative;
  width: 136px;
  height: 26px;
  margin-top: -1px;
  font-family: "GT America-Medium", Helvetica;
  font-weight: 500;
  color: var(--secondary-6);
  font-size: 18px;
  text-align: center;
  letter-spacing: -0.36px;
  line-height: 28.8px;
  white-space: nowrap;
}

.element .frame-wrapper {
  position: absolute;
  width: 47px;
  height: 48px;
  top: 261px;
  left: 22px;
}

.element .div-wrapper {
  position: relative;
  width: 24px;
  height: 24px;
  top: 13px;
  left: 13px;
  transform: rotate(180deg);
}

.element .group-12 {
  top: 3px;
  position: relative;
  width: 19px;
  height: 19px;
  left: 2px;
}

.element .group-13 {
  position: absolute;
  width: 2px;
  height: 2px;
  top: 0;
  left: 8px;
}
</style>

<div class="element">
      <div class="text-wrapper">What’s your vibe?</div>
  <img src="{{ 'earthy.png' | asset_url }}" />
      <div class="frame">
        <div class="group-wrapper">
          <div class="group">
            <div class="div"></div>
            <div class="group-2"></div>
            <div class="group-3"></div>
            <div class="group-4"></div>
            <div class="group-5"></div>
            <div class="group-6"></div>
            <div class="group-7"></div>
            <div class="group-8"></div>
           <img src="{{ 'earthy.png' | asset_url }}" />
            <div class="group-10"></div>
            <div class="group-11"></div>
          </div>
        </div>
      </div>
      <button class="button"><div class="text">Earthy</div></button>
      <div class="frame-wrapper">
        <div class="div-wrapper">
          <div class="group-12">
            <div class="div"></div>
            <div class="group-2"></div>
            <div class="group-3"></div>
            <div class="group-4"></div>
            <div class="group-5"></div>
            <div class="group-6"></div>
            <div class="group-7"></div>
            <div class="group-8"></div>
           <img src="{{ 'earthy.png' | asset_url }}" />
            <div class="group-10"></div>
            <div class="group-11"></div>
          </div>
        </div>
      </div>
    </div>