<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<div class="element">
      <div class="text-wrapper">What’s your vibe?</div>
      <div class="frame">
        <div class="group-wrapper">
          <div class="group">
            <div class="group-2"><img src="{{ 'earthy.png' | asset_url }}" /></div>
            <div class="group-3"><img src="{{ 'earthy.png' | asset_url }}" /></div>
            <div class="group-4"><img src="{{ 'earthy.png' | asset_url }}" /></div>
            <div class="group-5"><img src="{{ 'earthy.png' | asset_url }}" /></div>
          </div>
        </div>
      </div>
      <button class="button"><div class="text">Earthy</div></button>

    </div>