<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

<style>
  .vibe_carousel {
    display: flex;
}
</style>
<div class="element">
      <div class="text-wrapper">What’s your vibe?</div>

  <div class="slide-carousel">
    <div class="vibe_carousel">

  <div class="carousel__slide">
     <img src="{{ 'earthy.png' | asset_url }}" />
  </div>

  <div class="carousel__slide">
     <img src="{{ 'earthy.png' | asset_url }}" />
  
  </div>

  <div class="carousel__slide">
      <img src="{{ 'earthy.png' | asset_url }}" />
  </div>
  
</div>
  </div>
      <button class="button"><div class="text">Earthy</div></button>
</div>

<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
 <script>
$('.vibe_carousel').slick({
  slidesToShow: 1,
  slidesToScroll: 1,
  autoplay: true,
  autoplaySpeed: 2000,
     dots: false,
    prevArrow: false,
    nextArrow: false,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 3,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});
	

</script>