<style>
	.discover-science {
		padding-top: 100px;
		padding-bottom: 100px;
		overflow: hidden;
	}

	.discover-science .content {
		position: relative;
	}

	.discover-science .content .text_button {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 5rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%); 
	}

	.discover-science h2 {
		margin: 0;
		padding: 0;
		z-index: 10;
		color: #FF5500;
		max-width: 625px;
		text-align: center;
	}

	.discover-science .image img {
		width: 100%;
		object-fit: cover;
	}

	.discover-science	.button {
		background-color: #FF42EF;
	}
	@media screen and (max-width: 750px) {
		
	.discover-science .image img {
		width: 100%;
		scale: 1.5;
	}
	.discover-science .content .text_button {
		width: 300px;
		gap: 1rem !important;
		z-index: 1;
	}
	.gush-font-teritary {
		padding: 0 1.5rem !important;
	}
	}


</style>

<div class="discover-science">
	<div class="content page-width">
	<div class="text_button">
		<h2 class="gush-font-display">{{ section.settings.title }}</h2>
		<a{% if section.settings.button_url==blank %} role="link" aria-disabled="true" {% else %}
						href="{{ section.settings.button_url }}" {% endif %}
						class="cta-button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} cta-button__fuschia gush-font-teritary{% endif %}">
						<span>{{ section.settings.button_label | escape }}</span>{% render 'arrow-dotted' %}</a>
					</div>
		<div class="image">
			<img src="{{ section.settings.image | image_url }}" alt="">
			
		</div>
	</div>
</div>


	{% schema %}
	{
		"name": "Discover Science",
		"tag": "section",
		"settings": [
		{
		"type": "text",
		"id": "title",
		"label": "Title"
		},
		{
		"type": "text",
		"id": "button_label",
		"label": "Button Label"
		},
		{
			"type": "url",
			"id": "button_url",
			"label": "Button URL"
			},
			{
				"type": "image_picker",
				"id": "image",
				"label": "Image"
			}
		],
		"presets": [
		{
		"name": "Discover Science"
		}
		]
		}
	{% endschema %}