<style>
	.discover-science {
		padding-top: 100px;
		padding-bottom: 100px;
		background-color: #F9F4F0;
	}

	.discover-science .content {
		position: relative;
	}

	.discover-science .content .text_button {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 5rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%); 
	}

	.discover-science h2 {
		margin: 0;
		padding: 0;
		z-index: 10;
		color: #FF5500;
		max-width: 625px;
		text-align: center;
	}

	.discover-science .image img {
		object-fit: contain;
	}

	.discover-science	.button {
		background-color: #FF42EF;
	}


</style>

<div class="discover-science">
	<div class="content page-width">
	<div class="text_button">
		<h2 class="gush-font-display">{{ section.settings.title }}</h2>
		<a{% if section.settings.button_url==blank %} role="link" aria-disabled="true" {% else %}
						href="{{ section.settings.button_url }}" {% endif %}
						class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} gush-font-p2-16 button--primary{% endif %}">
						<span>{{ section.settings.button_label | escape }}</span>{% render 'arrow-dotted' %}</a>
					</div>
		<div class="image">
			{{ section.settings.image | image_url: width: 1280 | image_tag }}
		</div>
	</div>
</div>


	{% schema %}
	{
		"name": "Discover Science",
		"tag": "section",
		"settings": [
		{
		"type": "text",
		"id": "title",
		"label": "Title"
		},
		{
		"type": "text",
		"id": "button_label",
		"label": "Button Label"
		},
		{
			"type": "url",
			"id": "button_url",
			"label": "Button URL"
			},
			{
				"type": "image_picker",
				"id": "image",
				"label": "Image"
			}
		],
		"presets": [
		{
		"name": "Discover Science"
		}
		]
		}
	{% endschema %}