<style>
	.lets-care {
		padding: 100px 5rem;
		display: grid;
		grid-template-columns: repeat(1, minmax(0, 1fr));
		z-index: 2;
		position: relative;
		background-color: #B6AC9E;
	}

	.lets-care h1 {
		margin: 0;
		padding: 0;
	}

	.lets-care p {
		max-width: 511px;
	}
</style>

<div class="lets-care">
	<div class="page-width">
		<h1 class="gush-font-display">{{ section.settings.title }}</h1>
		<p class="gush-font-p1">{{ section.settings.description }}</p>
	</div>
</div>


	{% schema %}
	{
		"name": "Lets Care",
		"tag": "section",
		"settings": [
		{
		"type": "text",
		"id": "title",
		"label": "Title"
		},
		{
			"type": "textarea",
			"id": "description",
			"label": "Description"
			},
			{
				"type": "image_picker",
				"id": "image",
				"label": "Image"
			}
		],
		"presets": [
		{
		"name": "Lets Care"
		}
		]
		}
	{% endschema %}