<style>
	.mission-hero {
		padding-bottom: 24px;
		background-color: #302112;
	}

	.mission-hero .content {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		align-items: flex-start;
		margin-bottom: 10rem;
		gap: 21rem;
	}

	.mission-hero h1, .mission-hero p {
		margin: 0;
		padding: 0;
	}

	.mission-hero h1 {
		color: #FF5500;
	}

	.mission-hero p {
		max-width: 480px;
		color: #fff;
	}

	.mission-hero .image img {
		width: 100%;
		height: auto;
		object-fit: cover;
		border-radius: 1rem;
	}

	.mission-hero .image {
		max-width: 1500px;
		margin: 0 auto;
		padding: 0 15px;
	}
	@media screen and (max-width: 750px) {
    .mission-hero .content {
		display: grid;
		grid-template-columns: repeat(1, minmax(0, 1fr));
		align-items: flex-start;
		gap: 6rem;
		margin: 0;
	}
	.gush-page-width{
		padding-bottom: 1.5rem !important;
	}
	.mission-hero .image {
		padding: 0 30px;
	}
  }
</style>


<div class="mission-hero">
	<div class="gush-page-width">
	<div class="content">
		<h1 class="gush-font-h1">{{ section.settings.title }}</h1>
		<p class="gush-font-p1">{{ section.settings.description }}</p>
	</div>
</div>
<div class="image">
	{{ section.settings.image | image_url: width: 1280 | image_tag }}
</div>
</div>


	{% schema %}
	{
		"name": "Mission Hero",
		"tag": "section",
		"settings": [
		{
		"type": "textarea",
		"id": "title",
		"label": "Title"
		},
		{
			"type": "textarea",
			"id": "description",
			"label": "Description"
			},
			{
				"type": "image_picker",
				"id": "image",
				"label": "Image"
			}
		],
		"presets": [
		{
		"name": "Mission Hero"
		}
		]
		}
	{% endschema %}