<style>
	.mission-hero {
		padding: 100px 5rem;
		display: grid;
		grid-template-columns: repeat(1, minmax(0, 1fr));
		background-color: #302112;
	}

	.mission-hero h1 {
		margin: 0;
		padding: 0;
		color: #FF5500;
	}

	.mission-hero p {
		max-width: 511px;
		color: #fff;
	}
</style>


<div class="mission-hero">
	<div class="page-width">
	<div>
		<h1 class="gush-font-display">{{ section.settings.title }}</h1>
		<p class="gush-font-p1">{{ section.settings.description }}</p>
		<div class="image">
			{{ section.settings.image | image_url: width: 1280 | image_tag }}
		</div>
	</div>
</div>
</div>


	{% schema %}
	{
		"name": "Mission Hero",
		"tag": "section",
		"settings": [
		{
		"type": "textarea",
		"id": "title",
		"label": "Title"
		},
		{
			"type": "textarea",
			"id": "description",
			"label": "Description"
			},
			{
				"type": "image_picker",
				"id": "image",
				"label": "Image"
			}
		],
		"presets": [
		{
		"name": "Mission Hero"
		}
		]
		}
	{% endschema %}