<sticky-header class="header-wrapper color-background-2 gradient header-wrapper--border-bottom">
  <header class="header header--middle-left page-width header--has-menu"><header-drawer data-breakpoint="tablet">
        <details id="Details-menu-drawer-container" class="menu-drawer-container">
          <summary class="header__icon header__icon--menu header__icon--summary link focus-inset" aria-label="Menu" role="button" aria-expanded="false" aria-controls="menu-drawer">
            <span>
              <svg width="15" height="9" aria-hidden="true" focusable="false" role="presentation" class="icon icon-hamburger" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg">
	<line y1="0.25" x2="15" y2="0.25" stroke="black" stroke-width="0.5"></line>
	<line y1="4.25" x2="15" y2="4.25" stroke="black" stroke-width="0.5"></line>
	<line y1="8.25" x2="15" y2="8.25" stroke="black" stroke-width="0.5"></line>
	</svg>
              <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" fill="none" viewBox="0 0 18 17">
  <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
</path></svg>

            </span>
          </summary>
          <div id="menu-drawer" class="menu-drawer motion-reduce" tabindex="-1">
            <div class="menu-drawer__inner-container">
              <div class="menu-drawer__navigation-container">
                <nav class="menu-drawer__navigation">
                  <ul class="menu-drawer__menu list-menu" role="list"><li><details id="Details-menu-drawer-menu-item-1">
                            <summary class="menu-drawer__menu-item list-menu__item link link--text focus-inset" role="button" aria-expanded="false" aria-controls="link-Shop">
                              Shop
                              <svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
</path></svg>

                              <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 6">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
</path></svg>

                            </summary>
                            <div id="link-Shop" class="menu-drawer__submenu motion-reduce" tabindex="-1">
                              <div class="menu-drawer__inner-submenu">
                                <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                  <svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
</path></svg>

                                  Shop
                                </button>
                                <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1"><li><a href="/collections/interior-paints" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                          Interior paints
                                        </a></li><li><a href="/pages/paint-colour-swatches" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                          Paint packs
                                        </a></li><li><a href="/collections/sealers-and-painting-tools" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                          Sealers and painting tools 
                                        </a></li><li><a href="/pages/painting-services" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                          Painting services
                                        </a></li><li><a href="/pages/groupbuy" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                          Group buy
                                        </a></li></ul>
                              </div>
                            </div>
                          </details></li><li><details id="Details-menu-drawer-menu-item-2">
                            <summary class="menu-drawer__menu-item list-menu__item link link--text focus-inset menu-drawer__menu-item--active" role="button" aria-expanded="false" aria-controls="link-Ideas">
                              Ideas
                              <svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
</path></svg>

                              <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 6">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
</path></svg>

                            </summary>
                            <div id="link-Ideas" class="menu-drawer__submenu motion-reduce" tabindex="-1">
                              <div class="menu-drawer__inner-submenu">
                                <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                  <svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
</path></svg>

                                  Ideas
                                </button>
                                <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1"><li><details id="Details-menu-drawer-submenu-1">
                                          <summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset" role="button" aria-expanded="false" aria-controls="childlink-Home solutions">
                                            Home solutions
                                            <svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
</path></svg>

                                            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 6">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
</path></svg>

                                          </summary>
                                          <div id="childlink-Home solutions" class="menu-drawer__submenu motion-reduce">
                                            <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                              <svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
</path></svg>

                                              Home solutions
                                            </button>
                                            <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1"><li>
                                                  <a href="/pages/kid-friendly-paints" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                                    Homes with kids
                                                  </a>
                                                </li><li>
                                                  <a href="/pages/pet-friendly-paints" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                                    Homes with pets
                                                  </a>
                                                </li><li>
                                                  <a href="/pages/home-renovation-makeover" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                                    Problematic walls
                                                  </a>
                                                </li><li>
                                                  <a href="/pages/anti-moulding-paints" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                                    Mould issues
                                                  </a>
                                                </li></ul>
                                          </div>
                                        </details></li><li><a href="/pages/journal" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                          Articles
                                        </a></li><li><a href="/pages/calculator" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                          Paint calculator
                                        </a></li></ul>
                              </div>
                            </div>
                          </details></li><li><a href="/pages/films" class="menu-drawer__menu-item list-menu__item link link--text focus-inset">
                            Film
                          </a></li><li><details id="Details-menu-drawer-menu-item-4">
                            <summary class="menu-drawer__menu-item list-menu__item link link--text focus-inset" role="button" aria-expanded="false" aria-controls="link-Science">
                              Science
                              <svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
</path></svg>

                              <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 6">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
</path></svg>

                            </summary>
                            <div id="link-Science" class="menu-drawer__submenu motion-reduce" tabindex="-1">
                              <div class="menu-drawer__inner-submenu">
                                <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                  <svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
</path></svg>

                                  Science
                                </button>
                                <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1"><li><a href="/pages/science" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                          Paint science
                                        </a></li><li><a href="/pages/film-science" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                          Film science
                                        </a></li></ul>
                              </div>
                            </div>
                          </details></li><li><a href="/pages/mission" class="menu-drawer__menu-item list-menu__item link link--text focus-inset">
                            Mission
                          </a></li></ul>
                </nav>
                <div class="menu-drawer__utility-links"><ul class="list list-social list-unstyled" role="list"><li class="list-social__item">
                        <a href="https://twitter.com" class="list-social__link link"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-twitter" viewBox="0 0 18 15">
  <path fill="currentColor" d="M17.64 2.6a7.33 7.33 0 01-1.75 1.82c0 .05 0 .13.02.23l.02.23a9.97 9.97 0 01-1.69 5.54c-.57.85-1.24 1.62-2.02 2.28a9.09 9.09 0 01-2.82 1.6 10.23 10.23 0 01-8.9-.98c.34.02.61.04.83.04 1.64 0 3.1-.5 4.38-1.5a3.6 3.6 0 01-3.3-2.45A2.91 2.91 0 004 9.35a3.47 3.47 0 01-2.02-1.21 3.37 3.37 0 01-.8-2.22v-.03c.46.24.98.37 1.58.4a3.45 3.45 0 01-1.54-2.9c0-.61.14-1.2.45-1.79a9.68 9.68 0 003.2 2.6 10 10 0 004.08 1.07 3 3 0 01-.13-.8c0-.97.34-1.8 1.03-2.48A3.45 3.45 0 0112.4.96a3.49 3.49 0 012.54 1.1c.8-.15 1.54-.44 2.23-.85a3.4 3.4 0 01-1.54 1.94c.74-.1 1.4-.28 2.01-.54z">
</path></svg>
<span class="visually-hidden">Twitter</span>
                        </a>
                      </li><li class="list-social__item">
                        <a href="https://facebook.com" class="list-social__link link"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-facebook" viewBox="0 0 18 18">
  <path fill="currentColor" d="M16.42.61c.27 0 .5.1.69.28.19.2.28.42.28.7v15.44c0 .27-.1.5-.28.69a.94.94 0 01-.7.28h-4.39v-6.7h2.25l.31-2.65h-2.56v-1.7c0-.4.1-.72.28-.93.18-.2.5-.32 1-.32h1.37V3.35c-.6-.06-1.27-.1-2.01-.1-1.01 0-1.83.3-2.45.9-.62.6-.93 1.44-.93 2.53v1.97H7.04v2.65h2.24V18H.98c-.28 0-.5-.1-.7-.28a.94.94 0 01-.28-.7V1.59c0-.27.1-.5.28-.69a.94.94 0 01.7-.28h15.44z">
</path></svg>
<span class="visually-hidden">Facebook</span>
                        </a>
                      </li><li class="list-social__item">
                        <a href="https://pinterest.com" class="list-social__link link"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-pinterest" viewBox="0 0 17 18">
  <path fill="currentColor" d="M8.48.58a8.42 8.42 0 015.9 2.45 8.42 8.42 0 011.33 10.08 8.28 8.28 0 01-7.23 4.16 8.5 8.5 0 01-2.37-.32c.42-.68.7-1.29.85-1.8l.59-2.29c.14.28.41.52.8.73.4.2.8.31 1.24.31.87 0 1.65-.25 2.34-.75a4.87 4.87 0 001.6-2.05 7.3 7.3 0 00.56-2.93c0-1.3-.5-2.41-1.49-3.36a5.27 5.27 0 00-3.8-1.43c-.93 0-1.8.16-2.58.48A5.23 5.23 0 002.85 8.6c0 .75.14 1.41.43 1.98.28.56.7.96 1.27 1.2.1.04.19.04.26 0 .07-.03.12-.1.15-.2l.18-.68c.05-.15.02-.3-.11-.45a2.35 2.35 0 01-.57-1.63A3.96 3.96 0 018.6 4.8c1.09 0 1.94.3 2.54.89.61.6.92 1.37.92 2.32 0 .8-.11 1.54-.33 2.21a3.97 3.97 0 01-.93 1.62c-.4.4-.87.6-1.4.6-.43 0-.78-.15-1.06-.47-.27-.32-.36-.7-.26-1.13a111.14 111.14 0 01.47-1.6l.18-.73c.06-.26.09-.47.09-.65 0-.36-.1-.66-.28-.89-.2-.23-.47-.35-.83-.35-.45 0-.83.2-1.13.62-.3.41-.46.93-.46 1.56a4.1 4.1 0 00.18 1.15l.06.15c-.6 2.58-.95 4.1-1.08 4.54-.12.55-.16 1.2-.13 1.94a8.4 8.4 0 01-5-7.65c0-2.3.81-4.28 2.44-5.9A8.04 8.04 0 018.48.57z">
</path></svg>
<span class="visually-hidden">Pinterest</span>
                        </a>
                      </li><li class="list-social__item">
                        <a href="http://instagram.com" class="list-social__link link"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-instagram" viewBox="0 0 18 18">
  <path fill="currentColor" d="M8.77 1.58c2.34 0 2.62.01 3.54.05.86.04 1.32.18 1.63.3.41.17.7.35 1.01.66.3.3.5.6.65 1 .12.32.27.78.3 1.64.05.92.06 1.2.06 3.54s-.01 2.62-.05 3.54a4.79 4.79 0 01-.3 1.63c-.17.41-.35.7-.66 1.01-.3.3-.6.5-1.01.66-.31.12-.77.26-1.63.3-.92.04-1.2.05-3.54.05s-2.62 0-3.55-.05a4.79 4.79 0 01-1.62-.3c-.42-.16-.7-.35-1.01-.66-.31-.3-.5-.6-.66-1a4.87 4.87 0 01-.3-1.64c-.04-.92-.05-1.2-.05-3.54s0-2.62.05-3.54c.04-.86.18-1.32.3-1.63.16-.41.35-.7.66-1.01.3-.3.6-.5 1-.65.32-.12.78-.27 1.63-.3.93-.05 1.2-.06 3.55-.06zm0-1.58C6.39 0 6.09.01 5.15.05c-.93.04-1.57.2-2.13.4-.57.23-1.06.54-1.55 1.02C1 1.96.7 2.45.46 3.02c-.22.56-.37 1.2-.4 2.13C0 6.1 0 6.4 0 8.77s.01 2.68.05 3.61c.04.94.2 1.57.4 2.13.23.58.54 1.07 1.02 1.56.49.48.98.78 1.55 1.01.56.22 1.2.37 2.13.4.94.05 1.24.06 3.62.06 2.39 0 2.68-.01 3.62-.05.93-.04 1.57-.2 2.13-.41a4.27 4.27 0 001.55-1.01c.49-.49.79-.98 1.01-1.56.22-.55.37-1.19.41-2.13.04-.93.05-1.23.05-3.61 0-2.39 0-2.68-.05-3.62a6.47 6.47 0 00-.4-2.13 4.27 4.27 0 00-1.02-1.55A4.35 4.35 0 0014.52.46a6.43 6.43 0 00-2.13-.41A69 69 0 008.77 0z"></path>
  <path fill="currentColor" d="M8.8 4a4.5 4.5 0 100 9 4.5 4.5 0 000-9zm0 7.43a2.92 2.92 0 110-5.85 2.92 2.92 0 010 5.85zM13.43 5a1.05 1.05 0 100-2.1 1.05 1.05 0 000 2.1z">
</path></svg>
<span class="visually-hidden">Instagram</span>
                        </a>
                      </li><li class="list-social__item">
                        <a href="https://tiktok.com" class="list-social__link link"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tiktok" width="16" height="18" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M8.02 0H11s-.17 3.82 4.13 4.1v2.95s-2.3.14-4.13-1.26l.03 6.1a5.52 5.52 0 11-5.51-5.52h.77V9.4a2.5 2.5 0 101.76 2.4L8.02 0z" fill="currentColor">
</path></svg>
<span class="visually-hidden">TikTok</span>
                        </a>
                      </li></ul>
                </div>
              </div>
            </div>
          </div>
        </details>
      </header-drawer><h1 class="header__heading"><a href="/" class="header__heading-link link link--text focus-inset"><img srcset="//gush.earth/cdn/shop/files/logo_1_90x.png?v=1650455580 1x, //gush.earth/cdn/shop/files/logo_1_90x@2x.png?v=1650455580 2x" src="//gush.earth/cdn/shop/files/logo_1_90x.png?v=1650455580" loading="lazy" class="header__heading-logo" width="103" height="41" alt="Gush"></a></h1><nav class="header__inline-menu">
        <ul class="list-menu list-menu--inline" role="list"><li><details-disclosure>
                  <details id="Details-HeaderMenu-1">
                    <summary class="gush-font-p2 header__menu-item list-menu__item link focus-inset" role="button" aria-expanded="false" aria-controls="HeaderMenu-MenuList-1">
                      <span>Shop</span>
                      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 6">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
</path></svg>

                    </summary>
                    <ul id="HeaderMenu-MenuList-1" class="header__submenu list-menu list-menu--disclosure caption-large motion-reduce" role="list" tabindex="-1"><li><a href="/collections/interior-paints" class="gush-font-p2 header__menu-item list-menu__item link link--text focus-inset caption-large">
                              Interior paints
                            </a></li><li><a href="/pages/paint-colour-swatches" class="gush-font-p2 header__menu-item list-menu__item link link--text focus-inset caption-large">
                              Paint packs
                            </a></li><li><a href="/collections/sealers-and-painting-tools" class="gush-font-p2 header__menu-item list-menu__item link link--text focus-inset caption-large">
                              Sealers and painting tools 
                            </a></li><li><a href="/pages/painting-services" class="gush-font-p2 header__menu-item list-menu__item link link--text focus-inset caption-large">
                              Painting services
                            </a></li><li><a href="/pages/groupbuy" class="gush-font-p2 header__menu-item list-menu__item link link--text focus-inset caption-large">
                              Group buy
                            </a></li></ul>
                  </details>
                </details-disclosure></li><li><details-disclosure>
                  <details id="Details-HeaderMenu-2">
                    <summary class="gush-font-p2 header__menu-item list-menu__item link focus-inset" role="button" aria-expanded="false" aria-controls="HeaderMenu-MenuList-2">
                      <span class="header__active-menu-item gush-font-p2">Ideas</span>
                      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 6">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
</path></svg>

                    </summary>
                    <ul id="HeaderMenu-MenuList-2" class="header__submenu list-menu list-menu--disclosure caption-large motion-reduce" role="list" tabindex="-1"><li><details id="Details-HeaderSubMenu-1">
                              <summary class="gush-font-p2 header__menu-item link link--text list-menu__item focus-inset caption-large" role="button" aria-expanded="false" aria-controls="HeaderMenu-SubMenuList-1">
                                <span>Home solutions</span>
                                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 6">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
</path></svg>

                              </summary>
                              <ul id="HeaderMenu-SubMenuList-1" class="header__submenu list-menu motion-reduce"><li>
                                    <a href="/pages/kid-friendly-paints" class="gush-font-p2 header__menu-item list-menu__item link link--text focus-inset caption-large">
                                      Homes with kids
                                    </a>
                                  </li><li>
                                    <a href="/pages/pet-friendly-paints" class="gush-font-p2 header__menu-item list-menu__item link link--text focus-inset caption-large">
                                      Homes with pets
                                    </a>
                                  </li><li>
                                    <a href="/pages/home-renovation-makeover" class="gush-font-p2 header__menu-item list-menu__item link link--text focus-inset caption-large">
                                      Problematic walls
                                    </a>
                                  </li><li>
                                    <a href="/pages/anti-moulding-paints" class="gush-font-p2 header__menu-item list-menu__item link link--text focus-inset caption-large">
                                      Mould issues
                                    </a>
                                  </li></ul>
                            </details></li><li><a href="/pages/journal" class="gush-font-p2 header__menu-item list-menu__item link link--text focus-inset caption-large">
                              Articles
                            </a></li><li><a href="/pages/calculator" class="gush-font-p2 header__menu-item list-menu__item link link--text focus-inset caption-large">
                              Paint calculator
                            </a></li></ul>
                  </details>
                </details-disclosure></li><li><a href="/pages/films" class="gush-font-p2 header__menu-item header__menu-item list-menu__item link link--text focus-inset">
                  <span>Film</span>
                </a></li><li><details-disclosure>
                  <details id="Details-HeaderMenu-4">
                    <summary class="gush-font-p2 header__menu-item list-menu__item link focus-inset" role="button" aria-expanded="false" aria-controls="HeaderMenu-MenuList-4">
                      <span>Science</span>
                      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 6">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
</path></svg>

                    </summary>
                    <ul id="HeaderMenu-MenuList-4" class="header__submenu list-menu list-menu--disclosure caption-large motion-reduce" role="list" tabindex="-1"><li><a href="/pages/science" class="gush-font-p2 header__menu-item list-menu__item link link--text focus-inset caption-large">
                              Paint science
                            </a></li><li><a href="/pages/film-science" class="gush-font-p2 header__menu-item list-menu__item link link--text focus-inset caption-large">
                              Film science
                            </a></li></ul>
                  </details>
                </details-disclosure></li><li><a href="/pages/mission" class="gush-font-p2 header__menu-item header__menu-item list-menu__item link link--text focus-inset">
                  <span>Mission</span>
                </a></li></ul>
      </nav><div class="header__icons">
      <!-- <details-modal class="header__search">
        <details>
          <summary class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle" aria-haspopup="dialog" aria-label="Search">
            <span>
              <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-search">
              </svg>
              <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-close">
              </svg>
            </span>
          </summary>
          <div class="search-modal modal__content" role="dialog" aria-modal="true" aria-label="Search">
            <div class="modal-overlay"></div>
            <div class="search-modal__content search-modal__content-bottom" tabindex="-1"><predictive-search class="search-modal__form" data-loading-text="Loading..."><form action="/search" method="get" role="search" class="search search-modal__form">
                  <div class="field">
                    <input class="search__input field__input"
                      id="Search-In-Modal"
                      type="search"
                      name="q"
                      value=""
                      placeholder="Search"role="combobox"
                        aria-expanded="false"
                        aria-owns="predictive-search-results-list"
                        aria-controls="predictive-search-results-list"
                        aria-haspopup="listbox"
                        aria-autocomplete="list"
                        autocorrect="off"
                        autocomplete="off"
                        autocapitalize="off"
                        spellcheck="false">
                    <label class="field__label" for="Search-In-Modal">Search</label>
                    <input type="hidden" name="options[prefix]" value="last">
                    <button class="search__button field__button" aria-label="Search">
                      <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                        <use href="#icon-search">
                      </svg>
                    </button>
                  </div><div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                      <div class="predictive-search__loading-state">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </div>

                    <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span></form></predictive-search><button type="button" class="search-modal__close-button modal__close-button link link--text focus-inset" aria-label="Close">
                <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                  <use href="#icon-close">
                </svg>
              </button>
            </div>
          </div>
        </details>
      </details-modal> --><a href="/cart" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble"><svg class="icon dotted_cart" xmlns="http://www.w3.org/2000/svg" width="22" height="25" viewBox="0 0 22 25" fill="none">
    <circle cx="5.87344" cy="7.42355" r="1.07247" fill="black"></circle>
    <circle cx="5.87344" cy="4.36202" r="1.07247" fill="black"></circle>
    <circle cx="10.8084" cy="1.07247" r="1.07247" fill="black"></circle>
    <circle cx="8.11147" cy="2.21505" r="1.07247" fill="black"></circle>
    <circle cx="13.5136" cy="2.21505" r="1.07247" fill="black"></circle>
    <circle cx="15.7418" cy="4.36202" r="1.07247" fill="black"></circle>
    <circle cx="4.43624" cy="23.8693" r="1.07247" fill="black"></circle>
    <circle cx="9.16293" cy="7.42355" r="1.07247" fill="black"></circle>
    <circle cx="7.62319" cy="23.8693" r="1.07247" fill="black"></circle>
    <circle cx="12.4524" cy="7.42355" r="1.07247" fill="black"></circle>
    <circle cx="15.7418" cy="7.42355" r="1.07247" fill="black"></circle>
    <circle cx="10.8084" cy="23.8693" r="1.07247" fill="black"></circle>
    <circle cx="13.9954" cy="23.8693" r="1.07247" fill="black"></circle>
    <circle cx="17.1806" cy="23.8693" r="1.07247" fill="black"></circle>
    <circle cx="20.1738" cy="20.5618" r="1.07247" transform="rotate(-5 20.1738 20.5618)" fill="black"></circle>
    <circle cx="20.457" cy="23.8382" r="1.07247" transform="rotate(-5 20.457 23.8382)" fill="black"></circle>
    <circle cx="19.884" cy="17.284" r="1.07247" transform="rotate(-5 19.884 17.284)" fill="black"></circle>
    <circle cx="19.5959" cy="14.0076" r="1.07247" transform="rotate(-5 19.5959 14.0076)" fill="black"></circle>
    <circle cx="19.3046" cy="10.661" r="1.07247" transform="rotate(-5 19.3046 10.661)" fill="black"></circle>
    <circle cx="19.023" cy="7.45295" r="1.07247" transform="rotate(-5 19.023 7.45295)" fill="black"></circle>
    <circle r="1.07247" transform="matrix(-0.996195 -0.0871557 -0.0871557 0.996195 1.44507 20.5618)" fill="black"></circle>
    <circle r="1.07247" transform="matrix(-0.996195 -0.0871557 -0.0871557 0.996195 1.16187 23.8382)" fill="black"></circle>
    <circle r="1.07247" transform="matrix(-0.996195 -0.0871557 -0.0871557 0.996195 1.73315 17.284)" fill="black"></circle>
    <circle r="1.07247" transform="matrix(-0.996195 -0.0871557 -0.0871557 0.996195 2.01801 14.0076)" fill="black"></circle>
    <circle r="1.07247" transform="matrix(-0.996195 -0.0871557 -0.0871557 0.996195 2.31421 10.661)" fill="black"></circle>
    <circle r="1.07247" transform="matrix(-0.996195 -0.0871557 -0.0871557 0.996195 2.59253 7.45295)" fill="black"></circle>
    </svg><span class="visually-hidden">Cart</span></a>
    </div>
  </header>
</sticky-header>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}