<form id="order-form">
  <label>
    <input type="radio" name="product" value="product1"> Product 1
  </label>
  <label>
    <input type="radio" name="product" value="product2"> Product 2
  </label>
  <!-- Add more radio buttons as needed -->
  <button type="submit">Submit</button>
</form>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('order-form').addEventListener('submit', function(e) {
      e.preventDefault(); // Prevent the form from submitting normally

      // Get the selected product value
      const selectedProduct = document.querySelector('input[name="product"]:checked').value;

      // Redirect to the order details page with the selected product value
      window.location.href = '/checkout?product=' + selectedProduct;
    });
  });
</script>


{% schema %}
 {
    "name":"OOH Survey Section",
    "settings":[
        {
            "type":"text",
            "id":"heading",
            "label":"Heading"
        }
    ],
    "blocks":[
        {
            "type":"slide",
            "name":"Slide",
            "settings":[
                {
                    "type":"image_picker",
                    "id":"img",
                    "label":"Image"
                },
              {
"id" : "vibe_collection",
"type" : "collection",
"label" : "collection"
}
            ]
        }
    ],
    "presets":[
        {
            "name":"OOH Survey Section"
        }
    ]
}
{% endschema %}