{% if template == 'index' %}
 {% section 'header' %}
{% elsif page.handle == 'ooh-campaign' %}
{% section 'ooh_header' %}
{% endif %}

<p>test will show here.</p>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}