<p>test will show here.</p>
{% if page.handle == 'ooh-campaign' %}
{% render 'ooh-campaign' %}
{% endif %}
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}