<div id="OOH_order_details_section">
  <h2>Order Details</h2>

  color : 
</div>
<form id="ooh-campaign"></form>
<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    const form = document.querySelector('#ooh-campaign')
    form.addEventListener('change', (e) => {
      const vibe = e.target.value

      const collections = document.querySelectorAll('[data-vibe]')
      collections.forEach(item => {
        const _vibe = item.dataset.vibe
        if (vibe === _vibe) {
          if (item.classList.contains('hidden')) item.classList.remove('hidden')
        }
        else {
          if (!item.classList.contains('hidden')) item.classList.add('hidden')
        }
      })
    })
  });
</script>
{% schema %}
 {
    "name":"OOH Order Details Section",
    "settings":[
        {
            "type":"text",
            "id":"heading",
            "label":"Heading"
        }
    ],
    "blocks":[
        {
            "type":"slide",
            "name":"Slide",
            "settings":[
                {
                    "type":"image_picker",
                    "id":"img",
                    "label":"Image"
                },
              {
"id" : "vibe_collection",
"type" : "collection",
"label" : "collection"
}
            ]
        }
    ],
    "presets":[
        {
            "name":"OOH Order Details Section"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}