<form action="/checkout" method="post">
  <input type="hidden" name="checkout[attributes][gift_message]" value="">
  <textarea name="gift_message" placeholder="Enter a gift message"></textarea>
  <input type="submit" value="Proceed to checkout">
</form>


<form id="order-form">
  <label>
    <input type="radio" name="product" value="product1"> Product 1
  </label>
  <label>
    <input type="radio" name="product" value="product2"> Product 2
  </label>
  <!-- Add more radio buttons as needed -->
  <button type="submit">Submit</button>
</form>


{% schema %}
 {
    "name":"OOH Survey Section",
    "settings":[
        {
            "type":"text",
            "id":"heading",
            "label":"Heading"
        }
    ],
    "blocks":[
        {
            "type":"slide",
            "name":"Slide",
            "settings":[
                {
                    "type":"image_picker",
                    "id":"img",
                    "label":"Image"
                },
              {
"id" : "vibe_collection",
"type" : "collection",
"label" : "collection"
}
            ]
        }
    ],
    "presets":[
        {
            "name":"OOH Survey Section"
        }
    ]
}
{% endschema %}