{% if page.handle == 'ooh-campaign' %}
{% render 'ooh-campaign' %}
{% endif %}

<p>test will show here.</p>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}