<style>
	.science-hero {
		margin-top: 20px;
	}
	#text-content h1{
		white-space: pre !important;
	}

	.science-hero h1 {
		margin: 0;
		padding: 0;
	}

	.science-hero p {
		margin-top: 60px;
		max-width: 511px;
	}

	.science-hero .image {
		position: absolute;
		right: 0;
		top: 15rem;
		z-index: -1;
		
	}
	.science-hero #text-content{
			max-width: 40%;
		}

	.science-hero .image img {
		width: 400px;
		height: auto;
		object-fit: contain;
	}
	@media screen and (max-width: 990px) {
		.science-hero .image img {
		width: 300px;
		height: auto;
		object-fit: contain;
	}
	.science-hero #text-content{
			max-width: 50%;
		}
	.science-hero h1 {
		font-size: 64px !important;
	}
	}

	@media screen and (max-width: 750px) {
		.science-hero {
			display: flex;
			position: relative;
			overflow: hidden;
			margin-top: 0;
			padding-bottom: 2.5rem !important;
			padding-top: 50px !important;
		}
		.science-hero #text-content{
			max-width: 70%;
		}
		.science-hero h1 {
		font-size: 48px !important;
		}
		.science-hero p {
		margin-top: 1.5rem;
	}

		.science-hero .image {
		top: 2rem;
		right: -70px;
		overflow: hidden;
	}

		.science-hero .image img {
			width: 140px;
	}
	}
	
</style>
{% style  %} 
@media screen and (min-width: 1050px){
{% if page.title == "Window-film-science" %} 
	#text-content h1{
		font-size:  140px !important;
	}
	.science-hero p {
		margin-top: 35px;
	}
 {% endif %}
}
{% endstyle %}

	<div class="science-hero gush-page-width">
	<div id="text-content">
		<h1 class="gush-font-display">{{ section.settings.title }}</h1>
		<p class="gush-font-p1">{{ section.settings.description }}</p>
	</div>
	<div class="image">
		{{ section.settings.image | image_url: width: 640 | image_tag }}
	</div>
	</div>


	{% schema %}
	{
		"name": "Science Hero",
		"tag": "section",
		"settings": [
		{
		"type": "textarea",
		"id": "title",
		"label": "Title"
		},
		{
			"type": "textarea",
			"id": "description",
			"label": "Description"
			},
			{
				"type": "image_picker",
				"id": "image",
				"label": "Image"
			}
		],
		"presets": [
		{
		"name": "Science Hero"
		}
		]
		}
	{% endschema %}