.page-width {
  max-width: var(--page-width);
  margin: 0 auto;
  padding-inline: 2.5rem;
}

.gush-page-width {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 5rem 2.5rem !important;
}

@media screen and (min-width: 750px) {
  .page-width {
    padding-inline: 10rem;
  }

	.gush-page-width {
    padding: 10rem !important;
  }

}

.gush-font-display,
.gush-font-h1,
.gush-font-h2,
.gush-font-h3,
.gush-font-h4,
.gush-font-p1,
.gush-font-p2,
.gush-font-teritary,
.gush-font-p3 {
  font-style: normal;
}

.gush-font-display,
.gush-font-h1 {
  font-family: 'ABCCamera';
  line-height: 1 !important;
  font-weight: 400 !important;
}

.gush-font-display,
.gush-font-p1,
.gush-font-p2,
.gush-font-p3 {
  letter-spacing: -0.02em;
}

.gush-font-h2,
.gush-font-h3,
.gush-font-h4 {
  font-family: 'RecklessNeue' !important;
  font-weight: 400 !important;
  line-height: 1.1 !important;
  letter-spacing: -0.03em;
}

.gush-font-p1,
.gush-font-p2,
.gush-font-teritary {
  font-family: 'GTAmerica' !important;
  font-weight: 300 !important;
  line-height: 1.5 !important;
}

.gush-font-p1,
.gush-font-p2 {
  letter-spacing: -0.02em;
}

.gush-font-display {
  font-size: 48px !important;
}

.gush-font-h1 {
  font-size: 32px !important;
  letter-spacing: -0.04em;
}

.gush-font-h2 {
  font-size: 24px !important;
}

.gush-font-h3 {
  font-size: 18px !important;
}

.gush-font-h4 {
  font-size: 14px !important;
}

.gush-font-p1 {
  font-size: 12px !important;
}

.gush-font-p2,
.gush-font-p3 {
  font-size: 10px !important;
}

.gush-font-p3 {
  font-family: 'GTAmerica';
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: normal;
}

.gush-font-teritary {
  font-size: 9px !important;
  letter-spacing: 0;
}

@media screen and (min-width: 750px) {
  .gush-font-display {
    font-size: 96px !important;
  }

  .gush-font-h1 {
    font-size: 64px !important;
  }

  .gush-font-h2 {
    font-size: 48px !important;
  }

  .gush-font-h3 {
    font-size: 36px !important;
  }

  .gush-font-h4 {
    font-size: 24px !important;
  }

  .gush-font-p1 {
    font-size: 20px !important;
  }

  .gush-font-p2 {
    font-size: 16px !important;
  }

  .gush-font-teritary,
  .gush-font-p3 {
    font-size: 12px !important;
  }

  .gush-font-p3 {
  }

  .gush-font-p1,
  .gush-font-p2,
  .gush-font-teritary,
  .gush-font-p3 {
    line-height: 1.6 !important;
  }
}

.header__submenu.list-menu {
  padding: 0;
  border-radius: 6px;
}

.header-wrapper {
  background-color: rgb(var(--color-secondary-1)) !important;
}

.cta-button {
  width: 220px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  transition: transform ease 350ms;
  position: relative;
  border: none;
  outline: none;
  color: #fff;
  text-decoration: none;
  padding: 0 2rem;
  cursor: pointer;
}

.cta-button > * {
  z-index: 1;
}

.cta-button__secondary {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: rgb(var(--color-secondary-6));
}

.cta-button__secondary:hover svg,
.cta-button__secondary:hover svg * {
  fill: rgb(var(--color-secondary-6));
}

.cta-button.cta-button__primary:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  left: 0;
  top: 100%;
  z-index: 0;
  transition: top ease 350ms;
}

.cta-button.cta-button__primary:hover:before {
  top: 0;
}

.cta-button.cta-button__orange:hover,
.cta-button.cta-button__fuschia:hover,
.cta-button__secondary:hover {
  transform: scale(1.02);
}

.cta-button.cta-button__primary:hover *,
.cta-button.cta-button__primary:hover {
  color: rgba(var(--color-gush-fuschia)) !important;
}

.cta-button.cta-button__primary:hover svg,
.cta-button.cta-button__primary:hover svg * {
  fill: rgba(var(--color-gush-fuschia));
}

.cta-button.cta-button__fuschia svg,
.cta-button.cta-button__fuschia svg * {
  fill: #fff;
}

.cta-button.cta-button__primary {
  background-color: rgba(var(--color-gush-fuschia));
}

.cta-button.cta-button__fuschia {
  background-color: rgba(var(--color-gush-fuschia));
}

.cta-button.cta-button__orange {
  background-color: rgba(var(--color-gush-orange));
}

.cta-button.cta-button__orange {
  background-color: rgba(var(--color-gush-orange));
}

@media screen and (max-width: 767px) {
  .cta-button {
    width: 168px;
    height: 40px;
    padding: 0 1rem;
  }
  .cta-button svg {
    height: 16px;
  }
}

.blogs_listing_page {
  background-color: rgb(var(--color-secondary-1));
}

/* this is for removing  */
.preload * {
  transition: none !important;
}
