.gush-font-display {
  font-family: 'ABCCamera';
  font-weight: normal;
  font-size: 96px !important;
  line-height: 100%  !important;
  letter-spacing: -0.02em;
	font-weight: 400 !important;
}

.gush-font-h1 {
  font-family: 'ABCCamera' !important;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 64px !important;
  line-height: 100%  !important;
  letter-spacing: -0.04em;
}

.gush-font-h2 {
  font-family: 'RecklessNeue' !important;
  font-style: normal;
  font-weight: 400;
  font-size: 48px !important;
  line-height: 110%  !important;
  letter-spacing: -0.03em;
}

.gush-font-h3 {
  font-family: 'RecklessNeue' !important;
	font-style: normal;
	font-weight: 400 !important;
	font-size: 36px !important;
	line-height: 110% !important;
	letter-spacing: -0.03em;
}

.gush-font-h4 {
  font-family: 'RecklessNeue' !important;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 24px  !important;
  line-height: 110%  !important;
  letter-spacing: -0.03em;
}

.gush-font-p1 {
  font-family: 'GTAmerica' !important;
  font-style: normal;
  font-weight: 300 !important;
  font-size: 20px  !important;
  line-height: 160%  !important;
  letter-spacing: -0.02em;
}

.gush-font-p2 {
  font-family: 'GTAmerica' !important;
  font-style: normal;
  font-weight: 300 !important;
  font-size: 16px  !important;
  line-height: 160% !important;
  letter-spacing: -0.02em;
}

.gush-font-teritary {
	font-family: 'GTAmerica' !important;
  font-style: normal;
  font-weight: 300 !important;
  font-size: 12px  !important;
  line-height: 160% !important;
  letter-spacing: 0;
}

.header__submenu.list-menu {
	padding: 0;
	border-radius: 6px;
}

.header-wrapper {
	background-color: rgb(var(--color-secondary-1)) !important;
}


@media screen and (max-width: 767px) {
  .gush-font-display {
    font-size: 48px  !important;
  }

	.gush-font-h1 {
		font-size: 32px  !important;
	}

	.gush-font-h2 {
		font-size: 24px !important;
	}

	.gush-font-h3 {
		font-size: 18px  !important;
	}

	.gush-font-h4  {
    font-size: 14px  !important;
  }

  .gush-font-p1  {
    font-size: 12px  !important;
		line-height: 1.5;
  }

	.gush-font-p2 {
		font-size: 10px !important;
		line-height: 1.5 !important;
	}

	.gush-font-teritary {
		font-size: 9px !important;
		line-height: 1.5 !important;
	}
}

.cta-button {
  width: 220px;
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
  transition: transform ease 350ms;
	position: relative;
	border: none;
	outline: none;
	color: #fff;
	text-decoration: none;
	padding: 0 2rem;
	cursor: pointer;
}

.cta-button > * {
  z-index: 1;
}

.cta-button__secondary {
	background-color: transparent;
	border: 1px solid rgba(0, 0, 0, 0.5);
	color: rgb(var(--color-secondary-6));
}

.cta-button__secondary:hover svg,
.cta-button__secondary:hover svg * {
  fill: rgb(var(--color-secondary-6));
}

.cta-button.cta-button__primary:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  left: 0;
  top: 100%;
  z-index: 0;
  transition: top ease 350ms;
}

.cta-button.cta-button__primary:hover:before {
  top: 0;
}

.cta-button.cta-button__orange:hover, .cta-button.cta-button__fuschia:hover, .cta-button__secondary:hover {
  transform: scale(1.02);
}

.cta-button.cta-button__primary:hover * {
	color: rgba(var(--color-gush-fuschia)) !important;
}

.cta-button.cta-button__primary:hover svg,
.cta-button.cta-button__primary:hover svg * {
  fill: rgba(var(--color-gush-fuschia));
}

.cta-button.cta-button__fuschia svg,
.cta-button.cta-button__fuschia svg * {
  fill: #fff;
}

.cta-button.cta-button__primary {
  background-color: rgba(var(--color-gush-fuschia));
}

.cta-button.cta-button__fuschia {
  background-color: rgba(var(--color-gush-fuschia));
}

.cta-button.cta-button__orange {
  background-color: rgba(var(--color-gush-orange));
}

.cta-button.cta-button__orange {
  background-color: rgba(var(--color-gush-orange));
}

@media screen and (max-width: 767px) {
  .cta-button {
    width: 168px;
    height: 40px;
		padding: 0 1rem;
  }
	.cta-button svg {
		height: 16px;
	}

}

.blogs_listing_page {
	background-color: rgb(var(--color-secondary-1));
}

/* this is for removing  */
.preload * {
  transition: none !important;
}

