#ooh_package_you_get_section{
  padding-top:50px;
  text-align:center;
}
.gush-ooh_main_heading {
  color: #311A08;
text-align: center;
font-family: ABC Camera;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 52px; 
}
.gush_ooh_sub_heading {
  color: #311A08;
text-align: center;
font-family: Reckless Neue;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25px;
}

.vibe_carousel_selection {
    text-align: center;
}
.vibe_collection_featured_img {
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.vibe1_background_img {
  background-image: url("https://cdn.shopify.com/s/files/1/0614/1470/3297/files/bold_banner.jpg?v=1696782044");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
    background-size: 500px 500px;
}
.vibe2_background_img {
  background-image: url("https://cdn.shopify.com/s/files/1/0614/1470/3297/files/bold_banner.jpg?v=1696782044");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: 500px 500px;
}
.vibe3_background_img {
  background-image: url("https://cdn.shopify.com/s/files/1/0614/1470/3297/files/bold_banner.jpg?v=1696782044");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: 500px 500px;
}
#ooh_product_filter_section {
  background: #F2E5FF;
  text-align: center;
}
.filtered_product_section {
  text-align: center;
   padding: 50px 0;
}
.ooh_filtered_products {
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 130px 130px 130px;
  justify-content: center;
}
img.grid-view-item__image {
    border-radius: 100px;
    width: 60%;
}
/* .vibe_label {
  display: flex;
} */
.vibe_input {
  position: relative;
  vertical-align: middle;
  top: 35px;
  left: 20px;
  z-index: 1;
}
/* input[type="checkbox"].vibe_input {
  display: none;
} */
.filtered_product_title {
  font-size:16px;
  line-height: 28px; /* 175% */
letter-spacing: -0.4px;
}
.filtered_varient_title {
  font-size: 12px;
  line-height: 22.4px; /* 186.667% */
letter-spacing: 0.28px;
}

.slick-arrow {
	z-index: 1;
	width: 40px;
	height: 40px;
}

.slick-arrow:before {
	font-size: 30px;
}
.slick-next {
	right: 0;
}
.slick-prev {
	left: 0;
}

.btn-wrap {
	text-align: center;
	width: 100%;
}
button {
	background-color: #ddd;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	margin: 10px;
	font-size: 18px;
	font-weight: 600;
	transition: all 0.5s;
}
button.slick-disabled {
	opacity: 0.6;
}


.slide-arrow{
  position: absolute;
  top: 50%;
  margin-top: -15px;
}
.prev-arrow{
  left: -40px;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 15px solid #113463;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.next-arrow{
  right: -40px;
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 15px solid #113463;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.ooh_package_banner {
    width: 100%;
    height: 200px;
    background-image: url(https://cdn.shopify.com/s/files/1/0614/1470/3297/files/whats_in_pack.png?v=1696527216);
    background-size: cover;
    margin: 40px 0px;
  }
#ooh_survey_section {
  background: #F9F4F0;
      padding: 40px 0;
}
.survey_question {
  font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 40px;
}
.ooh_survey_container {
  display: flex;
width: 100%;
padding: 0px 46px 27px 46px;
flex-direction: column;
align-items: center;
}

#OOH_order_details_section {
    background: #F9F4F0;
  text-align:center;
}
.survey_plus_order {
  background: #F9F4F0;
}
.order_details_data_column_color {
    float: left;
  width: 40%;
  padding: 10px 0;
}
.order_details_data_column2 {
  float: left;
  width: 60%;
  padding: 10px 0;
  text-align: left;
}
.order_details_data_row:after {
  content: "";
  display: table;
  clear: both;
}
.shipping_charge {
  display: flex;
padding: 8px 24px 8px 16px;
align-items: center;
gap: 16px;
flex: 1 0 0;
align-self: stretch;
  background-color:#EAE4DF;
}
.checkout_button{
  display: flex;
padding: 20px;
align-items: center;
gap: 40px;
  border-radius: 5px;
background: var(--Gush-Fuschia, #FF42EF);
}
 .left_right_container {
    display: flex;
    justify-content: space-between;
   padding: 30px 0;
  }
.ooh_terms_condition {
  color: #311A08;
font-family: GT America;
font-size: 13.6px;
font-style: normal;
font-weight: 300;
line-height: 20.4px; /* 150% */
}
.congratulations_message_free_ship {
  display: inline-flex;
padding: 16px 32px;
justify-content: center;
align-items: flex-start;
  border-radius: 2px;
background: #302112;
  color: #FFF;
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 22.4px; /* 160% */
letter-spacing: 0.28px;
      gap: 8px;
      margin: 20px 0;
}
.banner__text.ooh_campaign-font-p1 span{
  color: #FFF;
    font-family: ABCCamera;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.88px;
}

.vibe_drop_back {
  border-radius: 20px;
background: #0F0;
}

.collection-filter {
  display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.vibe_selection_strip_label {
  display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

/* Question ans survey section */

#ooh_survey_section{
  position: relative;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

#ooh_survey_section .question_class {
  position: relative;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 0.5rem;
}

#ooh_survey_section .question_class label{
  position: relative;
  width: 100%;
  transition: all 0.2s ease;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row-reverse;
  cursor: pointer;
  gap: 0.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#ooh_survey_section .question_class label input{
  margin-right: 10px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

#ooh_survey_section .question_class label:has(input[type="radio"]:checked) {
  background-color: #EAE4DF;
}

#ooh_survey_section .question_class label .checkmark {
  position: relative;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 2px solid #767676;
  border-radius: 50%;
}

#ooh_survey_section .question_class label input:checked~.checkmark {
  border: 2px solid #ff40f4;
  background-color: #ffffff;
}

#ooh_survey_section .question_class label .checkmark:after {
  content: "";
  position: relative;
  display: none;
}

#ooh_survey_section .question_class label input:checked~.checkmark:after {
  display: block;
}

#ooh_survey_section .question_class label .checkmark:after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ff40f4;
}

/* Order details section css starts from here */


.order-details-container{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 3rem;
}

.order-details-container .container-header {
  font-size: 5rem;
}

.order-details-container .order{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas: 
    "order-marker order-header"
    "order-marker order-details";
  gap: 1rem;
}

.order-details-container .order .order-marker{
  position: relative;
  display: flex;
  grid-area: order-marker;
}

.order-details-container .order .order-marker span:nth-child(1){
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color:#3399ff;
  border-radius: 50%;
}

.order-details-container .order .order-marker span:nth-child(2) {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: #33ffbb;
  border-radius: 50%;
}

.order-details-container .order .order-marker span:nth-child(3) {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: #cc66ff;
  border-radius: 50%;
}

.order-details-container .order .order-header{
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: end;
  gap: 2rem;
  grid-area: order-header;
}

.order-details-container .order .order-header h3{
  font-size: 16px;
  font-weight: lighter;
  align-self:center;
  margin-right: auto;
}

.order-details-container .order .order-header span:first-of-type{
  position: relative;
  background-color: #e6e6e6;
font-size: 13px;
  padding: 0 1rem;
  border-radius: 30px;
}

.order-details-container .order .order-header span:last-of-type{
  position: relative;
  align-self: center;
  font-size: 13px;
}

.order-details-container .order .order-details{
  position: relative;
  grid-area: order-details;
  display: flex;
  align-items: stretch;
  justify-content: start;
  gap: 2rem;
  font-size: 2.5rem;
}

.order-details-container .order .order-details .order-props{
  color: #b3b3b3;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 2rem;
  font-size: 13px;
}

.order-details-container .order .order-details .order-values{
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 2rem;
  font-size: 13px;
}