#ooh_package_you_get_section{
  /* padding-top:50px; */
  text-align:center;
  position: relative;
}

.package_you_get--wrapper {
  padding: 45px 10px 0;
  margin-bottom: 45px;
}
.gush-ooh_main_heading {
  color: #311A08;
text-align: center;
font-family: ABCCamera;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 100%; 
}
.gush_ooh_sub_heading {
  color: #311A08;
text-align: center;
font-family: RecklessNeue;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25px;
}

.ooh_vibe_selection_title {
  color: #ffffff;
}

.vibe_carousel_selection {
    text-align: center;
}
.vibe_collection_featured_img {
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.vibe1_background_img {
  background-image: url("https://cdn.shopify.com/s/files/1/0614/1470/3297/files/bold_banner.jpg?v=1696782044");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
    background-size: 500px 500px;
}
.vibe2_background_img {
  background-image: url("https://cdn.shopify.com/s/files/1/0614/1470/3297/files/bold_banner.jpg?v=1696782044");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: 500px 500px;
}
.vibe3_background_img {
  background-image: url("https://cdn.shopify.com/s/files/1/0614/1470/3297/files/bold_banner.jpg?v=1696782044");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: 500px 500px;
}
#ooh_product_filter_section {
  background: #F2E5FF;
  text-align: center;
  padding: 0 10px;
  transition: background 0.5s ease-in-out;
}
.filtered_product_section {
  text-align: center;
   padding: 70px 0;
}
.ooh_filtered_products {
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 130px 130px 130px;
  justify-content: center;
}

img.grid-view-item__image {
  border-radius: 100px;
  max-width: 86px;
}

 /* filter product custom checkmark starts here */

.vibe_label .checkmark {
  position: absolute;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 50%;
  z-index: 1;
  top: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  transform: translate(-14px, 14px);
}
.vibe_label .checkmark:after {
  content: "";
  position: relative;
  display: none;
}
.vibe_label input:checked~.checkmark {
  opacity: 1;
}
.vibe_label input:checked~.checkmark:after {
  display: block;
}
.vibe_label .checkmark:after {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: url(https://cdn.shopify.com/s/files/1/0614/1470/3297/files/tick_arrow.svg?v=1696867485);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.vibe_input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

 /* filter product custom checkmark end here */



/* input[type="checkbox"].vibe_input {
  display: none;
} */
.filtered_product_title {
  font-size:16px;
  line-height: 28px; /* 175% */
letter-spacing: -0.4px;
}
.filtered_varient_title {
  font-size: 12px;
  line-height: 22.4px; /* 186.667% */
letter-spacing: 0.28px;
}

.slick-arrow {
	z-index: 1;
	width: 40px;
	height: 40px;
}

.slick-arrow:before {
	font-size: 30px;
}
.slick-next {
	right: 0;
}
.slick-prev {
	left: 0;
}

.btn-wrap {
	text-align: center;
	width: 100%;
}
button {
	background-color: #ddd;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	margin: 10px;
	font-size: 18px;
	font-weight: 600;
	transition: all 0.5s;
}
button.slick-disabled {
	opacity: 0.6;
}


.slide-arrow{
  position: absolute;
  top: 50%;
  margin-top: -15px;
}
.prev-arrow{
  left: -40px;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 15px solid #113463;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.next-arrow{
  right: -40px;
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 15px solid #113463;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.ooh_package_banner {
    width: 100%;
  height: auto;
  /* margin: 40px 0px; */
  display:flex;
  align-items:center;
  justify-content:center;
}

.ooh_package_banner img{
    max-width: 100%;
        max-height: 100%;
        display: block;
}

#ooh_survey_section {
  background: #F9F4F0;
      padding: 40px 0;
}
.survey_question {
  font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 40px;
}
.ooh_survey_container {
  display: flex;
width: 100%;
padding: 0px 46px 27px 46px;
flex-direction: column;
align-items: center;
  z-index: 1;
  
}

#OOH_order_details_section {
    background: #F9F4F0;
  text-align:center;
}

.order_details_data_column_color {
    float: left;
  width: 40%;
  padding: 10px 0;
}
.order_details_data_column2 {
  float: left;
  width: 60%;
  padding: 10px 0;
  text-align: left;
}
.order_details_data_row:after {
  content: "";
  display: table;
  clear: both;
}
.shipping_charge {
  display: flex;
  padding: 8px 24px 8px 16px;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
  background-color:#EAE4DF;
  margin-top: 8px;
}
.checkout_button{
  display: flex;
  padding: 20px;
  align-items: center;
  gap: 40px;
  border-radius: 5px;
  background: var(--Gush-Fuschia, #FF42EF);
  cursor: pointer;
}

.checkout_button:disabled {
  background: #ded8e1;
}
 .left_right_container {
    display: flex;
    justify-content: space-between;
   padding: 30px 0;
  }
.ooh_terms_condition {
  color: #311A08;
  font-family: GTAmerica;
  font-size: 13.6px;
  font-style: normal;
  font-weight: 300;
  line-height: 20.4px; /* 150% */
}
.congratulations_message_free_ship {
  display: inline-flex;
  font-family: GTAmerica;
  padding: 16px 16px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 2px;
  background: #302112;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.4px; /* 160% */
  letter-spacing: 0.28px;
  gap: 8px;
  margin: 20px 0;
  width:100%;
}
.banner__text.ooh_campaign-font-p1 span{
  color: #FFF;
    font-family: ABCCamera;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.88px;
}

.vibe_drop_back {
    border-radius: 20px;
    background: #00FF00;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
}

.collection-filter {
  display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.vibe_selection_strip_label {
  display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.vibe_selection_strip_label {
  position: relative;
  cursor: pointer;
}

.vibe__selector--helper {
  --client-height: calc(((1em * 1.2) * 2) + (10px * 2) + 22px);
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  line-height: 1.2;
  z-index: 3;
  width: 100%;
  text-align: left;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  border: 1px solid;
  border-radius: 10px;
  background-color: #fefaee;
}

.vibe__selector--helper .vibe-option {
  padding: 10px;
}

.vibe__selector--helper .vibe-option:hover {
  background-color: #ded8e1;
}

.select__toggle_icon {
  height: 22px;
  width: 22px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.vibe__selector--helper[data-size="3"] {
  --client-height: calc(((1em * 1.2) * 3) + (20px * 3) + 2px);
}

.vibe__selector--helper.active {
  height: var(--client-height);
  opacity: 1;
}

/* Question ans survey section */

#ooh_survey_section{
  position: relative;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

#ooh_survey_section .question_class {
  position: relative;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 0.5rem;
}

#ooh_survey_section .question_class label{
  position: relative;
  width: 100%;
  transition: all 0.2s ease;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row-reverse;
  cursor: pointer;
  gap: 0.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.shipping_charge label{
  position: relative;
  transition: all 0.2s ease;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row-reverse;
  cursor: pointer;
  gap: 0.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#ooh_survey_section .question_class label input, .shipping_charge label input{
  margin-right: 10px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

#ooh_survey_section .question_class label:has(input[type="radio"]:checked) {
  background-color: #EAE4DF;
}

#ooh_survey_section .question_class label .checkmark, .shipping_charge label .checkmark {
  position: relative;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 2px solid #767676;
  border-radius: 50%;
}

#ooh_survey_section .question_class label input:checked~.checkmark, .shipping_charge label input:checked~.checkmark  {
  border: 2px solid #ff40f4;
  background-color: #ffffff;
}

#ooh_survey_section .question_class label .checkmark:after, .shipping_charge label .checkmark:after {
  content: "";
  position: relative;
  display: none;
}

#ooh_survey_section .question_class label input:checked~.checkmark:after, .shipping_charge label input:checked~.checkmark:after {
  display: block;
}

#ooh_survey_section .question_class label .checkmark:after, .shipping_charge label .checkmark:after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ff40f4;
}

/* Order details section css starts from here */


.order-details-container{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 3rem;
}

.order-details-container .container-header {
  font-size: 5rem;
}

.order-details-container .order{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas: 
    "order-marker order-header"
    "order-marker order-details";
  gap: 1rem;
}

.order-details-container .order .order-marker{
  position: relative;
  display: flex;
  grid-area: order-marker;
}

.order-details-container .order .order-marker span:nth-child(1){
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  /* background-color:#3399ff; */
  background: transparent;
  border-radius: 50%;
}

.order-details-container .order .order-marker span:nth-child(2) {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  /* background-color: #33ffbb; */
  background: transparent;
  border-radius: 50%;
}

.order-details-container .order .order-marker span:nth-child(3) {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  /* background-color: #cc66ff; */
  background: transparent;
  border-radius: 50%;
}

.order-details-container .order .order-header{
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: end;
  gap: 2rem;
  grid-area: order-header;
}

.order-details-container .order .order-header h3{
  font-size: 16px;
  font-weight: lighter;
  align-self:center;
  margin-right: auto;
}

.order-details-container .order .order-header span:first-of-type{
  position: relative;
  background-color: #e6e6e6;
font-size: 13px;
  padding: 0 1rem;
  border-radius: 30px;
}

.order-details-container .order .order-header span:last-of-type{
  position: relative;
  align-self: center;
  font-size: 13px;
}

.order-details-container .order .order-details{
  position: relative;
  grid-area: order-details;
}

/* .order-details-container .order .order-details .order-props{
  
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 2rem;
  
} */
.order-details .order-props .option_info {
  display: flex;
  align-items: start;
  font-size: 13px;
}
.order-details .order-props .option_name {
  text-align: left;
  flex: 0 0 50px;
  color: #b3b3b3;
}

.order-details-container .order .order-details .order-values{
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 2rem;
  font-size: 13px;
}

.shipping_details_tnC {
  margin: 4rem 0;
}
.tnc_acknowledge_section {
  font-family: GTAmerica;
  display:flex;
  align-items:start;
  justify-content:start;
  margin-top: 20px;
}
.gush_tnc_checkbox {
  margin-top:.7rem;
}

.footer_banner {
  align-self: end;
}

.collection_button {
  font-family: 'GTAmerica';
    padding: 20px;
    border-radius: 1px;
    border: 1px solid #ffffff;
    display: inline-flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 50%;
    color: #fff;
    text-decoration: none;
  }
  .vibe__container {
    --container-height: 379px;
    position: relative;
    padding-bottom: var(--container-height);
  }
  .vibe__wrapper {
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--container-height);
    z-index: 1;
    transform: translateY(10px);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  .vibe__content {
    position: relative;
  }

  .vibe__wrapper[data-active="true"] {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    z-index: 2;
  }
  vibe-slider-component {
    display: block;
  }
.swiper--controls {
  position: relative;
  margin-top: 30px;
  display: grid;
  column-gap: 24px;
  grid-template-columns: 50px auto 50px;
  grid-template-areas: 'previous-el pagination next-el';
  align-items: center;
  justify-content: center;
  min-height: 50px;
}
.pagination {
  position: relative;
  grid-area: pagination;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-top: 18px;
}

.swiper--controls .prev-next-btn {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  border-radius: 50px;
}
.prev-next-btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #302112;
  border-radius: 50px;
}

.prev-next-btn-prev {
  grid-area: previous-el
}

.prev-next-btn-next {
  grid-area: next-el
}
.filter_drop_down {
    margin: 40px 0;
}
.slick-prev, .slick-next {
  width: 28px !important;
  height: 26px !important; 
}

.selection--status {
  padding: 16px 32px;
  display: flex;
  max-width: 468px;
  justify-content: center;
  align-items: center;
  background-color: #DED8E1;
  color: #302112;
  font-size: 14px;
  margin: 0 auto;
  margin-top: 38px;
  transition: all 0.3s ease-in-out;
  cursor: not-allowed;
}
.selection--status.active {
  background-color: #302112;
  color: #ffffff;
  cursor: default;
}
.helper--text {
  padding-left: 4px;
}
.icon--eye-container {
  display: inline-flex;
  margin-left: 12px;
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
.selection--status.active .icon--eye-container {
  cursor: pointer;
  opacity: 1;
  pointer-events: all;
}
.icon--eye-container svg {
  height: 22px;
  width: 22px;
}
.icon--eye-container svg path {
  fill: #302112;
}
.selection--status.active .icon--eye-container svg path {
  fill: #ffffff;
}
.icon--status,
.icon--eye {
  height: 22px;
  width: 22px;
  display: inline-block;
  position: relative;
}
.icon--status {
  background: #00FF00;
  border-radius: 50%;
  margin-right: 12px;
}
.icon--eye {
  margin-left: 12px;
}
.icon--status::after,
.icon--eye::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.icon--status::after {
  top: -1px;
  left: -1px;
}
.icon--eye::after {
  top: 0;
  left: 0;
}
.promo_text {
  padding: 20px 0 0px 0;
  font-family: RecklessNeue;
  color: #311A08;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25px;
}

.vibe-selection-slider .slide-bg {
  position: relative;
  display: block;
  padding-bottom: 101.54%;
}

.slide-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.vibe--selection__button,
.vibe--selection__text {
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.vibe--selection__button {
  bottom: 0;
  padding-bottom: 54px;
}
.vibe--selection__text {
  top: 0;
  padding-top: 45px;
}
.vibe--selection__wrapper {
  position: relative;
}
.vibe--selection__prev-next-btn {
  position: absolute;
  top: 45%;
  width: 38px;
  height: 38px;
  padding: 7px;
  margin: 0;
  display: flex;
  transform: translateY(-50%);
  z-index: 2;
  background: transparent;
  cursor: pointer;
}
.vibe--selection__prev-next-btn svg {
  width: 100%;
  height: 100%;
}
.vibe--selection__prev-next-btn-prev {
  left: 50px;
}
.vibe--selection__prev-next-btn-next {
  right: 50px;
}

.icon--arrow {
  position: relative;
  width: 100%;
  height: 100%;
}

.error--message {
  color: #fff;
  padding: 16px;
  position: fixed;
  z-index: 2;
  width: calc(100% - 92px);
  margin: 0 46px;
  background: #302112;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 22.4px;
  letter-spacing: .28px;
  visibility: hidden;
  opacity: 0;
  bottom: -60px;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out, bottom 0.3s ease-in-out, right 0.3s ease-in-out;
}

.error--message.active{
  bottom: 16px;
  visibility: visible;
  opacity: 1;
}


a.ooh_hyperlink {
  color: #311A08;
  font-family: GTAmerica;
  font-size: 13.6px;
  font-style: normal;
  font-weight: 300;
  line-height: 20.4px;
}

.selection--status-wrapper {
  padding: 0px 0px;
}

.order-details .order-props .option_info {
  text-align: left;
}

a.ooh_hyperlink_tc {
  color: #311A08;
  font-family: GTAmerica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.survey_plus_order {
   background: #F9F4F0;
}
.footer__content-top {
    display: none;
}
.back_to_top {
    display: none;
}

.swiper-button-disabled {
  display: none;
}
.omnisend-form-6476ea556a3925a0dc01ccc8-container {
  display: none !important;
}
/* Css for mobile screen */
@media only screen and (max-width: 480px) {
.survey_plus_order {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow:hidden;
}
}

@media only screen and (min-width: 410px) {
  .selection--status-wrapper {
    padding: 0px 45px;
  }
}


/* Css for Desktop View  */

@media only screen and (min-width: 740px) {
  .vibe_label .checkmark {
    right: 30px;
    top: 8px;
  }
  .survey_plus_order {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
  .vibe__container {
    --container-height: 561px;
  }
  .collection_button {
    width: 14%;
  }
  .footer_banner {
    transform: translateY(-130%) translateX(30%) scale(1.3);
  }
  .ooh_survey_container {
    width: 90rem;
  }
  img.grid-view-item__image {
    max-width: 100%;
  }
  #ooh_product_filter_section {
    padding: 0 40px;
    width: 100%;
    text-align: center;
  }
  .filtered_product_section {
    display: inline-block;
    width: 100%;
    max-width: 700px;
  }
  .vibe-selection-slider .slide-bg {
    padding-bottom: 56.25%;
  }
  .vibe--selection__text {
    padding-top: 135px;
  }
  .vibe--selection__button {
    padding-bottom: 85px;
  }
  .vibe--selection__prev-next-btn {
    top: 50%;
    width: 64px;
    height: 64px;
  }
  .vibe--selection__prev-next-btn-prev {
    left: 17%;
  }
  .vibe--selection__prev-next-btn-next {
    right: 17%;
  }
  .package_you_get--wrapper {
    position: absolute;
    width: 100%;
    display: flex;
    top: 0;
    flex-direction: column;
    padding-top: 70px;
    margin-bottom: 0;
  }
  .congratulations_message_free_ship {
    max-width: 58%;
  }
  .error--message {
    max-width: 400px;
    top: 132px;
    right: -500px;
    bottom: unset;
    transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out, bottom 0.5s ease-in-out, right 0.5s ease-in-out;
  }
  .error--message.active {
    bottom: unset;
    right: 0;
  }
}

select#collection-filter-select {
  background-color: #F2E5FF;
  Border: none;
  color: #311A08;
  text-align: right;
  font-family: GTAmerica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: 0.28px;
  -webkit-appearance: none;
  padding-right: 20px;
  width: 20px;
  text-align: left;
  cursor: pointer;
}

select#collection-filter-select option {
  padding: 5px 10px;
}

select#collection-filter-select:focus-visible {
  border: none;
  box-shadow: none;
  outline: none;
}

#collection-filter-select {
  background: no-repeat #ffffff;
  border: 1px solid #000;
  background-image: url(https://cdn.shopify.com/s/files/1/0614/1470/3297/files/dropdown_arrow.svg?v=1697048401);
  background-position: center right;
  overflow: hidden;
}
.omnisend-form-6476ea556a3925a0dc01ccc8-overlay {
    display: none !important;
}

.omnisend-form-6476ea556a3925a0dc01ccc8-content {
    display: none !important;
}
.display_none {
  display:none;
}