#ooh_package_you_get_section{
  padding-top:50px;
  text-align:center;
}
.gush-ooh_main_heading {
  color: #311A08;
text-align: center;
font-family: ABC Camera;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 52px; 
}
.gush_ooh_sub_heading {
  color: #311A08;
text-align: center;
font-family: Reckless Neue;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25px;
}

.vibe_carousel_selection {
    text-align: center;
      padding: 80px 0;
}
.vibe_collection_featured_img {
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.vibe1_background_img {
  background-image: url("https://cdn.shopify.com/s/files/1/0614/1470/3297/files/Screenshot_2023-10-05_at_9.54_1.png?v=1696666135");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
    background-size: 500px 500px;
}
.vibe2_background_img {
  background-image: url("https://cdn.shopify.com/s/files/1/0614/1470/3297/files/Screenshot_2023-10-05_at_9.54_1.png?v=1696666135");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: 500px 500px;
}
.vibe3_background_img {
  background-image: url("https://cdn.shopify.com/s/files/1/0614/1470/3297/files/Screenshot_2023-10-05_at_9.54_1.png?v=1696666135");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: 500px 500px;
}
#ooh_product_filter_section {
  background: #F2E5FF;
  text-align: center;
}
.filtered_product_section {
  text-align: center;
   padding: 50px 0;
}
.ooh_filtered_products {
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 130px 130px 130px;
  justify-content: center;
}
img.grid-view-item__image {
    border-radius: 100px;
    width: 60%;
}
.vibe_input {
    position: relative;
    vertical-align: middle;
    top: 35px;
    left: 20px;
    z-index: 1;
}
.filtered_product_title {
  font-size:16px;
  line-height: 28px; /* 175% */
letter-spacing: -0.4px;
}
.filtered_varient_title {
  font-size: 12px;
  line-height: 22.4px; /* 186.667% */
letter-spacing: 0.28px;
}

.slick-arrow {
	z-index: 1;
	width: 40px;
	height: 40px;
}

.slick-arrow:before {
	font-size: 30px;
}
.slick-next {
	right: 0;
}
.slick-prev {
	left: 0;
}

.btn-wrap {
	text-align: center;
	width: 100%;
}
button {
	background-color: #ddd;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	margin: 10px;
	font-size: 18px;
	font-weight: 600;
	transition: all 0.5s;
}
button.slick-disabled {
	opacity: 0.6;
}


.slide-arrow{
  position: absolute;
  top: 50%;
  margin-top: -15px;
}
.prev-arrow{
  left: -40px;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 15px solid #113463;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.next-arrow{
  right: -40px;
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 15px solid #113463;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.ooh_package_banner {
    width: 100%;
    height: 200px;
    background-image: url(https://cdn.shopify.com/s/files/1/0614/1470/3297/files/whats_in_pack.png?v=1696527216);
    background-size: cover;
    margin: 40px 0px;
  }
#ooh_survey_section {
  background: #F9F4F0;
}