.about-product__main {
}
.about-product__heading-left h2 {
  color: #fff;
  font-family: 'ABCCamera';
  font-style: normal;
  font-weight: 400;
  font-size: 84px;
  line-height: 100%;
  letter-spacing: -0.03em;
  max-width: 580px;
	white-space: pre-line;
}
.about-product__heading-left h2 span {
  font-family: 'ABCCamera';
}
.about-product__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 12px 25px; */
}
.about-product__icon-text {
  margin-left: 8%;
  width: 60%;
}
.about-product__icon-with-text {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 45%;
}
.about-product__icon-with-text > * {
  margin-bottom: 40px;
}
.about-product__icon-text h3 {
  margin: 0;
  color: #fff;
}
.about-product__icon-text p {
  margin-top: 6px;
  color: #fff;
	max-width: 432px;
	white-space: pre-line;
}

@media screen and (max-width: 767px) {
  .about-product__main {
    display: flex;
    flex-direction: column;
  }
  .about-product__icon-with-text {
    margin: 7% 0 0;
    width: 100%;
  }
  .about-product__heading-left {
    width: 100%;
  }
  .about-product__heading-left h2 {
    font-size: 32px;
    line-height: 100%;
    color: #fff;
    max-width: 80%;
  }
  /* section.about-product{
        padding: 27px 20px;
    } */
  .about-product__icon {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
  .about-product__icon-text {
    margin: 0;
    width: 74%;
    padding: 16px 0;
    text-align: center;
  }
  .about-product__icon-text p {
    margin-top: 15px;
    font-size: 12px;
  }
  .about-product__icon-text h3 {
    font-size: 20px;
  }
  section.about-product {
    padding: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  .about-product__main {
    display: flex;
    flex-direction: column;
  }
  .about-product__heading-left {
    width: 100%;
  }
  .about-product__heading-left h2 {
    font-size: 5rem;
    max-width: 80%;
  }
  .about-product__icon-with-text {
    display: flex;
    flex-direction: column;
    margin: 10% 0 0;
    width: 100%;
  }
}
@media screen and (min-width: 991px) and (max-width: 1439px) {
  .about-product__heading-left h2 {
    font-size: 64px;
  }
}

@media screen and (min-width: 1441px) {
  .about-product__heading-left h2 {
    font-size: 84px;
    margin: 0;
  }
}
@media screen and (min-width: 350px) and (max-width: 767px) {
  section.about-product {
    /* padding: 50px; */
  }
}
