.group_image_with_text{
    display: grid;
    grid-template-columns: 60% auto;
    padding: 10rem 0;
    gap: 20px;
}
.group_image_with_text h2{
    margin: 0;
    font-family: 'RecklessNeue' !important;
}
.group_image_with_text h4{
    margin: 25px 0;
    font-family: 'GTAmerica' !important;
    font-style: normal;
}
.left_image_section img{
    max-width: 95%;
    height: auto;
    transition: .3s;
}
.left_image_section img:hover{
    scale: 1.05;
}
.group_image_with_text a{
    background: #FF5500;
    color: #ffffff;
    padding: 2rem;
    font-size: 16px;
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: center;
    font-family: 'GTAmerica';
    font-style: normal;
    font-weight: 400;
    }

@media screen and (max-width: 750px){
    .group_image_with_text{
        grid-template-columns: 1fr;
        padding: 25px 0 35px 0;
        text-align: center;
    }
    .group_image_with_text a{
        font-size: 10px;
        padding: 1.5rem;
        margin: 0 auto;
        margin-top: 30px;

    }
    .group_image_with_text h2{
        font-size: 32px !important;
    }
    .group_image_with_text h4{
        margin: 15px 0;
    }
}