.film-main-offers-container{
    background: #F9F4F0;
}
.film-offers-container{
padding: 8.5rem 10rem 10rem 10rem !important;
}
.offer-heading h2{
    white-space: pre;
    margin: 0;
}
.offer-box{
    display: grid;
    grid-template-columns: 300px auto;
    align-items: flex-end;
    border-bottom: 1px solid black;
    padding-bottom: 4rem;
    margin-top: 4.5rem;
}
.offer-box div{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.offer-box div p{
    margin: 0;
    color: black;
}
.offer-box h1{
    margin: 0;
    letter-spacing: -0.04em;
}
@media screen and (max-width: 750px){
    .film-offers-container{
        padding: 2.5rem 3rem !important;
    }
    .offer-box{
        grid-template-columns: 1fr;
        margin-top: 2.5rem;
        gap: 5px;
        padding-bottom: 1.5rem;
    }
    .offer-box img{
        width: 30px;
        height: auto;
    }
    .offer-heading h2{
        font-size: 18px !important;
    }
}