.about-partner{
    width: 100%;
}
.about-partner__logos {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    text-align: center;
	gap: 10%;
}
.about-partner__logos img{
    max-width: 100%;
}
.about-partner__heading h2 {
    text-align: center;
    font-size: 32px;
    line-height: 91%;
    font-family: 'RecklessNeue';
    margin: 0 ;
    font-weight: 400;
}

.about-partner__heading {
    margin-bottom: 6.2rem;
}
/* styled by Abdurrahman */
.group_buy_brand_img_container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    justify-items: center;
}
.group_buy_brand_img_container img{
    max-width: 100%;
    max-height: 80px;
    object-fit: cover;
}

@media screen and (max-width: 767px){
    .about-partner__logos-img img {
        width: 100%;
    }
    .about-partner__heading h2{
        font-size: 18px;
    }
    .about-partner__heading {
        margin-bottom: 1.6rem;
    }
    /* styled by abdurrahman */
    .group_buy_brand_img_container{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
    }
}