section.footer-contact {
	padding-top: 100px;
	padding-bottom: 0;
}

.footer-contact__main {
    display: flex;
		gap: 15rem;
}
.footer-contact__main {
    background-image: url('contact-footer.svg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0 0 30% 0;
}

.footer-contact__main-text {
    width: 50%;
}
.footer-contact__main-heading h2 {font-family: 'GTAmerica'; white-space: pre-line;}
.footer-contact__main-para p {
    font-size: 32px;
    line-height: 44px;
    width: 80%;
    color: rgba(var(--color-secondary-6));
    margin-top: 5%;
    font-family: 'RecklessNeue';
    font-weight: 400;
}
.footer-contact__form {
    width: 50%;
}
.footer-contact__form .field:after{
    box-shadow: none;
    border: none;
}
.footer-contact__form .field{
    border-bottom: 1px solid;
    margin-top: 20px;
}
.footer-contact__form .field__input{
    padding: 2.5rem 0;
		margin-top: 30px;
}

.footer-contact__form .cta-button {
    margin-top: 10%;
}
.footer-contact__form .contact__button button {
    background: transparent;
    border: 1px solid;
    color: rgba(var(--color-secondary-6));
    justify-content: flex-start;
    position: relative;
    font-family: 'GTAmerica';
    font-size: 14px;
}
.footer-contact__form .contact__button button svg.icon{
    position: absolute;
    right: 25px;
}
.footer-contact__form .field:hover.field:after{
    box-shadow: none;
}
.footer-contact__form .field__label{
    left: 0;
    font-family: 'GTAmerica';
}
.footer-contact__form .contact__fields:focus-visible {
    outline: none;
}
.footer-contact__form .contact__fields input:focus-visible {
    outline-offset: none;
}
.footer-contact__form .contact__fields .field__input:focus-visible{
    box-shadow: none;
}
.footer-contact__form .field__input:focus{
    box-shadow: none;
}
.footer-contact__form .field__input:focus-visible, 
.footer-contact__form .select__select:focus-visible, 
.footer-contact__form .customer .field input:focus-visible, 
.footer-contact__form .customer select:focus-visible, 
.footer-contact__form .localization-form__select:focus-visible.localization-form__select:after{
 box-shadow: none;
}
.footer-contact__form .field__input:focus ~ .field__label{
    left: 0;
}
.footer-contact__form .field__input:not(:placeholder-shown) ~ .field__label{
    top: 0;
    left: 0;
}
.select_box_group_buy{
    margin-top: 50px;
    border-bottom: 1px solid black;
    position: relative;
}
.select_label_group_buy{
    position: absolute;
    top: -20px;
    font-size: 1.6rem;
    margin-bottom: 0;
    pointer-events: none;
    transition: top var(--duration-short) ease, font-size var(--duration-short) ease;
    color: rgba(var(--color-foreground), 0.75);
    letter-spacing: 0.1rem;
    line-height: 1.5;
    font-family: 'GTAmerica';
}
.gray_color{
    color: #B6AC9E;
}
.select_input_group_buy{
    border: none;
    font-family: 'RecklessNeue';
    width: 100%;
    padding: 25px 0 15px 0;
    font-size: 16px;
}
.select_input_group_buy option{
    color: #000000;
}
.select_box_group_buy .select_input_group_buy:focus ~ .select_label_group_buy {
    font-size: 1rem;
    top: -22px;
}
.select_input_group_buy:focus{
    outline: none;
    box-shadow: none;
}

@media screen and (min-width: 350px) and (max-width:768px){
    .footer-contact__form .contact__button button{
        /* width: 100%; */
    }
}
@media screen and (max-width: 767px){
	section.footer-contact {
		padding-top: 85px;
		padding-bottom: 0;
	}
    .footer-contact__main {
        flex-direction: column;
    }
    .footer-contact__main-text{
        width: 100%;
    }
    .footer-contact__main-para p{
        width: 100%;
        font-size: 24px;
    }
    .footer-contact__form{
        width: 100%;
    }
    .footer-contact__form .contact__button{
        width: 50%;
    }
    .footer-contact__main {
        padding: 0rem 0 9rem 0;
    }
}