.film-warranty-container{
    background: rgb(199, 179, 158);
}
.film-page-width{
    padding: 15rem 6.5rem 8rem 11rem;
}
.warranty-heading-sub-heading{
    max-width: 730px;
    margin: 0 auto;
    text-align: center;
}
.warranty-heading{
    white-space: pre;
    margin: 0;
    line-height: 100% !important;
    letter-spacing: -0.04em;
}
.warranty-sub-heading{
    font-family: 'GTAmerica' !important;
    font-weight: 400 !important;
    line-height: 130% !important;
    letter-spacing: -0.0115em;
}
.warranty-year-box{
    width: 158px;
    height: 158px;
    margin-right: auto;
    margin-top: 6rem;
    border: 1px solid #000;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.warranty-year-box h1{
    margin: 0;
}
.warranty-year-box p{
    margin: 0;
    font-family: 'GTAmerica';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.02em;
}

@media screen and (max-width: 750px){
    .film-page-width{
        padding: 5rem 2.5rem;
    }
    .warranty-heading{
        white-space: initial;
    }
    .warranty-sub-heading{
        margin: 15px;
        line-height: 150% !important;
        letter-spacing: -0.02em;
    }
    .warranty-year-box{
        width: 81px;
        height: 81px;
        margin: 10rem auto 10rem 0;
    }
    .warranty-year-box p{
        font-size: 10px;
    }
}

/* Custom Styles */

.ingredient__main {
	padding: 0 !important;
}
.ingredient__accordion{
	max-width: 575px;
	padding: 0 !important;
	margin-left: auto;
}
.ingredient_heading_h3{
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	padding-bottom: 3rem;
	margin: 0;
}
.qus-li__inner h3{
	margin: 0 !important;
}
.question .q-ans__block{
	padding: 3rem 0 !important;
}
.ingredient_bottom_btn a{
	font-family: 'GTAmerica' !important;
	font-style: normal ;
	font-weight: 400 !important;
	font-size: 16px !important;
	line-height: 160% !important;
	letter-spacing: -0.02em !important;
	margin-top: 2rem;
	background: #FF5500 !important;
}
 @media screen and (max-width: 950px){
	.warranty-heading-sub-heading h1{
		font-size: 48px !important;
	}
}

@media screen and (max-width: 750px){
	.ingredient_heading_h3{
		padding-bottom: 1.2rem;
	}
	.question .q-ans__block{
		padding: 2rem 0 !important;
	}
	.ingredient_bottom_btn a{
		font-size: 10px !important;
		line-height: 150% !important;
		margin-top: 1.5rem ;
	}
	.warranty-heading-sub-heading h1{
		font-size: 32px !important;
	}
}
