.faq__heading {
  border-bottom: 1px solid #ff42ef;
}
.faq__heading h1 {
  font-weight: 400;
  font-size: 84px;
  line-height: 100%;
  letter-spacing: -0.04em;
  width: 48%;
  margin-bottom: 90px;
	margin-top: 0;
}

.faq__main-wrapper {
  display: flex;
  justify-content: space-between;
}
/* .faq__main-content__content {
  width: 40%;
} */
/* .faq__main-content__heading {
  width: 40%;
} */
/* .faq__main-content__heading h3,
.faq__main-content__heading h2 {
  font-weight: 400;
  font-size: 2.5rem;
} */
.faq__main-content {
  padding-top: 5rem;
}

.faq-bg {
  background-color: #f9f4f0;
}

.faq__categories {
  display: flex;
}

.faq-category.active {
  background-color: #ff42ef;
  color: #fff;
  border: none;
}
.mobile-faq-category.active {
  background-color: #ff42ef;
  color: #fff;
  border: none;
}

.faq-category {
  padding: 1.5rem;
  width: 16rem;
  border-radius: 1px;
  margin-right: 3rem;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: -1.15%;
  border: 0.5px solid rgba(var(--color-secondary-6), 0.5);
  color: rgba(var(--color-secondary-6));
  cursor: pointer;
}

.faq__types > * {
  margin-bottom: 35px;
}

.faq-type.selected {
  color: #ff42ef;
}
.mobile-faq-type.selected {
  background-color: #ff42ef;
  color: #fff;
  border: none;
}

.faq-type {
  font-weight: 300;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.0115em;
  cursor: pointer;
}

.faq__contents {
  display: flex;
  justify-content: flex-end;
  margin-top: 8rem;
}

.faq__types {
  width: 18%;
}

.faq__qas {
  width: 60%;
  border-top: 1px solid rgba(45, 32, 20, 0.5);
}

.faq_qus {
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.0115em;
  border-bottom: 1px solid rgba(45, 32, 20, 0.5);
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.faq_q {
  display: flex;
}

.faq_q > span {
  margin-right: 0.6em;
}

svg.icon.icon-plus-new.not-active {
  display: none;
}

svg.icon.icon-minus-new {
  display: none;
}

svg.icon.icon-minus-new.is-active {
  display: block;
}

.faq__contents .faq-type {
  display: none;
}
.faq__contents .mobile-faq-type {
  display: none;
}

.faq__contents .faq-type.active {
  display: block;
}
.faq__contents .mobile-faq-type.active {
  display: block;
}

.faq__contents .faq-qa {
  display: none;
}

.faq__contents .faq-qa.active {
  display: block;
}

.faq__contents .faq__qas {
  margin-left: auto;
}

.q-ans__block .faq_qus {
  cursor: pointer;
}

.question .q-ans__block p.faq_ans {
  /* display: none; */
  visibility: hidden;
  /* max-height: 0; */
	height: 0;
  opacity: 0;
  transition: all ease 250ms;
  margin: 0;
	white-space: pre-line;
}

.question .q-ans__block p.faq_ans.is-active {
  /* display: block; */
  visibility: visible;
  opacity: 1;
	height: 100%;
  /* max-height: 400px; */
  padding: 0 0 15px 0;
  margin-top: -10px;
}

p.faq_ans.is-active {
  border-bottom: 1px solid rgba(45, 32, 20, 0.5);
}
.faq-mobile-dropdown-container{
  display: none;
}

@media screen and (max-width: 990px) {
  .faq {
    padding-top: 40px !important;
  }
  .mobile-faq-type {
    display: none;
  }
  .faq__main-content{
    padding-top: 2rem;
  }
  .faq__heading h1{ 
    margin-bottom: 3rem !important;
  }
  .mobile-faq-type.active {
    display: block;
  }
  .faq__heading h1 {
    font-size: 6rem;
    width: 100%;
    line-height: 7rem;
    margin: 0 0 12%;
  }
  .faq__main-content__heading h2 {
    font-size: 2.5rem;
  }
  .faq__main-wrapper {
    display: block;
  }
  .faq__main-content__heading {
    width: 100%;
  }
  .faq__main-content__content {
    width: 100%;
  }
  .faq__main-wrapper .faq__main-content__content ul {
    padding-left: 2.5rem;
  }

  .faq__contents {
    margin-top: 0;
    flex-direction: column;
    gap: 2rem;
  }

  .faq__types {
    width: 100%;
  }

  .faq__qas {
    width: 100%;
  }
  /* mobile details dropdown style  */
  .faq__categories{
    display: none;
  }
  .faq__types{
    display: none;
  }
  .faq-mobile-dropdown-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
  }
  .faq_mobile_select_container {
    position: relative;
  }
  .type_selection_details {
    position: relative;
  }
  .faq_mobile_select_container summary span{
    white-space: pre;
  }
  .faq_mobile_select_container summary{
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-categories-container, .mobile-types-container{
    position: absolute;
    background: #ffffff;
    z-index: 1;
    margin-top: 5px;
    border: 1px solid gainsboro;
    border-radius: 4px;
    width: 100%;
  }
  .faq-mobile-dropdown-container .option{
    padding: 4px 12px;
  }
  .icon{
    width: 9px;
    height: 9px;
  }
  .faq_qus{
    padding: 15px 0;
    border-bottom: 1px solid rgba(45, 32, 20, 0.177);
  }
  p.faq_ans.is-active {
    border-bottom: 1px solid rgba(45, 32, 20, 0.177);
  }
  .faq__qas {
    border-top: 1px solid rgba(45, 32, 20, 0.177);
  }
  .faq_qus p{
    margin: 0;
  }
}
@media screen and (max-width: 750px){
  .question .q-ans__block p.faq_ans.is-active {
    padding: 0 0 15px 0;
    margin-top: 0;
  }
}
