#stamped-main-widget {
  background-color: #ffc900;
  margin: 0 !important;
  position: relative;
}

#stamped-main-widget .stamped-container {
  /* background-color: #ff0000; */
  margin: 100px auto !important;
  margin-top: 50px !important;
  position: relative;
}

#stamped-main-widget .stamped-container .stamped-header-title {
  margin: 0;
  color: #302112;
}

#stamped-main-widget
  .stamped-container
  .stamped-header
  .stamped-summary-actions {
  position: absolute;
  bottom: 40px;
  z-index: 50;
  left: 50%;
  transform: translateX(-50%);
}

#stamped-main-widget
  .stamped-container
  .stamped-header
  .stamped-summary-actions
  .stamped-summary-actions-newreview {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none !important;
  color: #302112;
  text-decoration: underline 1px #302112;
  text-underline-offset: 8px;
}

#stamped-main-widget
  .stamped-container
  .stamped-header
  .stamped-summary-actions
  .stamped-summary-actions-newreview:hover {
  opacity: 1;
}

#stamped-main-widget
  .stamped-container
  .stamped-header
  .stamped-summary-actions
  .stamped-summary-actions-newreview:before {
  display: none;
}

#stamped-main-widget .stamped-container .stamped-header .stamped-starrating {
  position: absolute;
  right: 0;
  top: 35px;
}

#stamped-main-widget
  .stamped-container
  .stamped-header
  .stamped-summary-caption
  .stamped-summary-text {
  position: absolute;
  right: 0;
  top: 0;
  color: #302112;
}

#stamped-main-widget
  .stamped-container
  .stamped-header
  .stamped-summary-text-1 {
  color: #302112;
}

#stamped-main-widget
  .stamped-container
  .stamped-header
  .stamped-starrating
  .stamped-fa {
  color: #302112;
}

#stamped-main-widget
  .stamped-container
  .stamped-header
  .stamped-starrating
  i:before {
  font-size: 29px;
}

#stamped-main-widget .stamped-container .stamped-content {
  background-color: #fff;
  /* margin: 100px auto !important; */
  padding: 60px;
  border-radius: 16px;
  margin-top: 10px;
  padding-bottom: 120px;
}

#stamped-main-widget
  .stamped-container
  .stamped-content
  .stamped-tab-container {
  visibility: hidden;
}

.swiper {
  width: 85%;
  height: 100%;
}

.stamped-slider-reviews .stampedSliderSwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.stamped-slider-reviews .swiper-button-prev:after,
.stamped-slider-reviews .swiper-button-next:after {
  content: '';
}
.stamped-slider-reviews .swiper-button-next,
.stamped-slider-reviews .swiper-button-prev {
  width: auto;
  position: absolute;
  top: 57%;
}
.stamped-slider-reviews .swiper-button-prev svg.icon.icon-arrow-left-slide {
  position: absolute;
  left: 0px;
  width: 30px;
  height: 30px;
}
.stamped-slider-reviews .swiper-button-next svg.icon.icon-arrow-right-slide {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: -2%;
  left: auto;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: -2%;
  right: auto;
}

.stamped-slider-reviews {
  width: 100%;
  position: relative;
  margin: auto;
}
.swiper-slide__card h3 {
  margin: 0;
  padding: 0;
  color: #302112;
  margin-bottom: 16px;
}
.swiper-slide__card p {
}
.swiper-slide__card .client-name {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.swiper-slide__card {
  padding: 12%;
  border-radius: 10px;
  border: 1px solid #ffc900;
  width: 100%;
  height: 360px;
}

.swiper-slide__card .stamped-fa:before {
  font-size: 30px;
}

#stamped-reviews-tab.stamped-reviews {
  display: none !important;
}

/* .hide {
	max-height: 0 !important;
}

.dropdown{
border: 0.1em solid black;
width: 10em;
margin-bottom: 1em;
}

.dropdown .title{
margin: .3em .3em .3em .3em;	
width: 100%;
}

.dropdown .title .fa-angle-right{
float: right;
margin-right: .7em;
transition: transform .3s;
}

.dropdown .menu{
transition: max-height .5s ease-out;
max-height: 20em;
overflow: hidden;
}

.dropdown .menu .option{
margin: .3em .3em .3em .3em;
margin-top: 0.3em;
}

.dropdown .menu .option:hover{
background: rgba(0,0,0,0.2);
}

.pointerCursor:hover{
cursor: pointer;
}

.rotate-90{
transform: rotate(90deg);
} */

/*  Needed for filters */

.stampedSliderSwiper .hide { /* You can play with the seconds to change the "animation" */
 display: none !important;
}
.stampedSliderSwiper .show { /* You can play with the seconds to change the "animation" */
 display: flex !important;
}

.stamped-reviews_filter {
	display: flex;
	justify-content: center;
	gap: 5rem;
	margin-bottom: 5rem;
	color: #B6AC9E;
}

.stamped-reviews_filter .option {
	cursor: pointer;
}

.stamped-reviews_filter .option.active {
	color: #302112;
	position: relative;
}

.stamped-reviews_filter .option.active::before {
	content: '';
	background-color: #302112;
	width: 6px;
	height: 6px;
	position: absolute;
	border-radius: 50%;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
}

/*  Needed for filters */