.terms :where(h1, p, h3, ol) {
  padding: 0;
  margin: 0;
}

.terms-bg {
  background-color: rgb(var(--color-secondary-1));
}

.terms__heading {
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(var(--color-gush-fuschia));
}

.terms__heading h1 {
  white-space: pre-line;
}

.terms_secondary__heading {
  margin-block-start: 2rem;
}

.terms__main-content {
  counter-reset: item;
}

.terms__main-content .terms__main-wrapper {
  margin-top: 2rem;
}

.terms__main-wrapper h3 {
  counter-increment: item;
}

.terms__main-wrapper h3:before {
  content: counter(item) '.';
  padding-right: 6px;
}

.terms__main-wrapper ol {
  counter-reset: item;
}

.terms__main-wrapper ol li {
  counter-increment: item;
  display: table;
  margin-left: 6px;
  font-family: 'GTAmerica';
  font-style: normal;
  font-weight: 300;
  font-size: 9px;
  line-height: 130%;
  margin-top: 2rem;
}

.terms__main-wrapper ol li:before {
  content: counters(item, '.');
  padding-right: 6px;
  display: table-cell;
}

.terms__main-wrapper li li {
	margin-left: 0;
	margin-top: 1rem;
}

.terms__main-wrapper li li:before {
  content: counter(item, lower-latin) '.';
}

.terms__main-content__heading h3 {
	font-weight: 400 !important;
}

@media screen and (min-width: 750px) {
	.terms__heading {
		padding-bottom: 8rem;
	}

	.terms_secondary__heading {
		margin-block-start: 5rem;
		margin-block-end: 8rem;
	}

	.terms__main-content .terms__main-wrapper {
		margin-top: 5rem;
	}
	
  .terms__main-wrapper {
    display: grid;
    grid-template-columns: 3fr 2fr;
  }

	.terms__main-wrapper ol li {
		letter-spacing: -0.02em;
		font-size: 16px;
		line-height: 160%;
		font-weight: 400;
	}

	.terms__main-wrapper ol li:first-child {
		margin-top: 0;
	}

	.terms__main-wrapper li li:first-child {
		margin-top: 1rem;
	}

	
}
