.science-steps > h2 {
	border-top: 1px solid #E1D5C6;
	color: #302112;
	padding-top: 3rem;
	margin: 0;
	padding-bottom: 6rem;
}

.science-steps > h3 {
	max-width: 652px;
	color: #302112;
	margin: 0;
	padding: 0;
}


.science-steps .the-problem-block {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	align-items: center;
}

.science-steps .the-problem-block.last-block {
	margin-top: 60px;
 }

.science-steps .the-problem-block.last-block .content{
 order: 2;
 margin-left: 80px;
}

.science-steps .the-problem-block .content > p {
	white-space: pre-line;
	max-width: 490px;
 }

.science-steps .the-problem-block .content p{
	white-space: pre-line;
 }

.science-steps .the-problem-block.last-block .image {
	order: 1;
 }

.science-steps .the-problem-block .image img {
	width: 100%;
	height: auto;
	object: cover;
}

/* Solution Section Styles */
.the-solution-blocks {
	display: flex;
	gap: 6rem;
	flex-direction: column;
	margin-top: 55px;
}

.the-solution-blocks img {
	width: 100%;
	height: 200px;
	object-fit: contain;
}

.the-solution-blocks .solution-block {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.the-solution-blocks .image {
	width: 200px;
	height: 200px;
}

.the-solution-blocks .content {
	margin-top: 2rem;
	color: #302112 !important;
}

.the-solution-blocks .content h2, .the-solution-blocks .content p {
	color: #302112 !important;
	margin: 0;
}

.the-solution-blocks .content h2 {
	margin-bottom: 10px;
}

/* Reports Section Styles */
.science-steps .reports-blocks {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 3rem;
}

.science-steps .reports-block {
	background-color: #00FF00;
	padding: 4rem;
	display: flex;
	flex-direction: column;
	color: #302112;
	margin-top: 6rem;
}

.science-steps .reports-block h3 {
	color: #302112;
	margin: 0;
	padding: 0;
	padding-top: 2rem;
	padding-bottom: 4rem;
	max-width: 400px;
}

/* Reports Section Styles */
.science-steps .accreditation-blocks {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 3rem;
}

.science-steps .accreditation-block {
	background-color: #EAE4DF;
	padding: 6rem;
	display: flex;
	flex-direction: column;
	color: #302112;
	margin-top: 6rem;
	margin-bottom: 15rem;
}

.science-steps .accreditation-block h2, .science-steps .accreditation-block li  {
	color: #302112;
	margin: 0;
	padding: 0;
}

.science-steps .accreditation-block .images img{
	width: 100%;
	height: 108px;
	object-fit: contain;
}

.science-steps .accreditation-block .images {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	gap: 2.5rem;
	margin-bottom: 2rem;
}

.science-steps .accreditation-block ul {
	max-width: 330px;
}

@media screen and (max-width: 749px) {
	.science-steps > h2 {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	.science-steps .the-problem-block {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}

	.science-steps .the-problem-block.last-block {
		margin-top: 20px;
	 }

	.science-steps .the-problem-block .image {
		order: 1;
	}

	.science-steps .the-problem-block .content {
		order: 2;
		padding: 0;
		margin-top: 20px;
	}


.science-steps .the-problem-block.last-block .content{
	margin-left: 0px;
 }
}

@media screen and (min-width: 750px) {
	/* Solution Section Styles */
	.the-solution-blocks {
		gap: 7.5rem;
		flex-direction: row;
		margin-top: 17rem;
	}

	.the-solution-blocks .solution-block {
		align-items: center;
		flex-direction: column;
	}

	.the-solution-blocks .content {
		margin-top: 9.5rem;
		color: #302112 !important;
	}

	.the-solution-blocks .content h2 {
		margin-bottom: 20px;
	}
	
}