.ingredient__main {
  display: flex;
}

.ingredient__main h2, .ingredient__main h3, .ingredient__main p {
  margin: 0;
	padding: 0;
}

.ingredient__left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.q-ans__block .faq_qus {
  cursor: pointer;
}

.question .q-ans__block p.faq_ans {
  /* display: none; */
  visibility: hidden;
  max-height: 0;
	/* height: 0; */
  opacity: 0;
  transition: all ease 250ms;
  margin: 0;
	white-space: pre-line;
}

.question .q-ans__block p.faq_ans.is-active {
  /* display: block; */
  visibility: visible;
  opacity: 1;
  max-height: 400px;
	/* height: 100%; */
  margin: 15px 0;
}

a.button.button-primary svg {
  position: inherit;
  right: 0;
  margin-left: 45px;
}

a.button.button-primary::after,
a.button.button-primary::after {
  box-shadow: none;
  border: 0;
}

svg.icon.icon-minus-new {
  display: none;
}

svg.icon.icon-minus-new.is-active {
  display: block;
}

.not-active {
  display: none;
}

.sub-heading {
  border-bottom: 1px solid rgba(45, 32, 20, 0.5);
}

.sub-heading h3 {
  margin-bottom: 12%;
}

.faq_qus {
  position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ingredient__link p a {
  font-size: 15px;
}

.qus-li p {
  display: block;
  font-size: 13px;
}

.qus-li__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.qus-li__inner h3 {
  font-size: 2rem;
  font-family: 'RecklessNeue';
  font-weight: 400;
}

.faq_qus .qus-li {
  list-style: none;
  display: flex;
  align-items: center;
	width: 100%;
}

.ingredient__accordion .question .sub-heading h3 {
  font-size: 20px;
  font-family: GTAmerica;
}

.ingredient__link {
  display: block;
}

.ingredient__btn {
  display: block;
}

.ingredient__link-link {
  display: none;
}

.ingredient__btn-link {
  display: none;
}

.ingredient__accordion .q-ans__block {
	border-bottom: 1px solid rgba(45, 32, 20, 0.5);
	padding: 1.7rem 0;
}

.ingredient__cta-mobile {
	display: block;
  margin-top: 5rem;
}

.ingredient__cta-desktop {
	display: none;
}

.faq_qus .qus-li img {
	width: 70px;
}

@media screen and (min-width: 750px) {
	.ingredient__accordion .q-ans__block {
		padding: 3.2rem 0;
	}

	.ingredient__cta-mobile {
		display: none;
	}

	.ingredient__cta-desktop {
		display: block;
	}
}

@media screen and (max-width:767px) {
  .ingredient__main {
    flex-direction: column;
  }

  .ingredient__heading h2 {
    font-size: 40px;
  }

  .ingredient__accordion {
    width: 100%;
    margin-left: 0;
  }

  .qus-li p {
    display: none;
  }

  .ingredient__accordion .question .sub-heading h3 {
    font-size: 12px;
  }

  .ingredient__link {
    display: none;
  }

  .ingredient__btn {
    display: none;
  }

  .ingredient__link-link {
    display: block;
    margin-top: 12%;
  }

  .ingredient__btn-link {
    display: block;
    margin-top: 12%;
  }
}