.the-problem-tab {
	color: #302112;
}

.the-problem-tab .tab-contents .tab-content.active {
  display: grid !important;
}

.the-problem-tab .tab-content {
  display: none;
  background-color: #f9f4f0;
	padding: 20px;
  position: relative;
	margin-top: 2.5rem;
}

.the-problem-tab .tab-content .left-content h2 {
  margin: 0;
  padding: 0;
}

.the-problem-tab .tabs {
  display: none;
  justify-content: space-around;
}

.the-problem-tab .tabs .tab {
  cursor: pointer;
  padding: 18px 0;
  width: 100%;
  text-align: center;
	border-top: 1px solid #EAE4DF;
	color: rgb(var(--color-secondary-3));
}

.the-problem-tab .tabs .tab.active {
  border-top: 2px solid #ff42ef;
}

.the-problem-tab .tabs .tab.active div {
	color: rgb(var(--color-gush-fuschia));
	font-weight: 500 !important;
}

.the-problem-tab .name_formula {
  display: grid;
  grid-template-columns: auto 55px;
  gap: 3rem;
  position: relative;
  margin-bottom: 3rem;
  justify-content: space-between;
}

.the-problem-tab img {
  width: 100%;
  height: auto;
}

.the-problem-tab .image_formula {
	width: 44px;
}

.the-problem-tab .image_structure {
  width: 90%;
  max-width: 390px;
}

.the-problem-tab .odor_appearance {
  display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.the-problem-tab .odor p,
.the-problem-tab .appearance p,
.the-problem-tab .how_it_harm p,
.the-problem-tab .effects_of_exposure p {
	margin: 0;
  padding: 0;
	max-width: 400px;
}

.the-problem-tab .odor p,
.the-problem-tab .appearance p {
  font-weight: 400 !important;
	
}

.the-problem-tab .odor p:first-child,
.the-problem-tab .appearance p:first-child,
.the-problem-tab .how_it_harm p:first-child,
.the-problem-tab .effects_of_exposure p:first-child  {
  font-size: 8px !important;
	letter-spacing: initial !important;
}

.the-problem-tab .found_in {
	font-family: 'GTAmerica' !important;
  font-weight: 500 !important;
	font-size: 24px !important;
	max-width: 400px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.the-problem-tab .how_it_harm {
	margin-bottom: 20px;
	color: rgba(var(--color-secondary-6));
}

.the-problem-tab .effects_of_exposure   {
  color: rgba(var(--color-secondary-6));
}

.the-problem-tab .how_it_harm p:first-child,
.the-problem-tab .effects_of_exposure p:first-child  {
  margin-bottom: 10px;
}

@media screen and (min-width: 750px) { 
	.the-problem-tab .tab-content {
		padding: 100px;
	}
}


@media screen and (min-width: 990px) {
	.the-problem-tab .tab-content {
		grid-template-columns: repeat(2, minmax(0, 1fr));
		padding: 80px;
		gap: 3vw;
		margin-top: 0rem;
	}

	.the-problem-tab .name_formula {
		margin-bottom: 3rem;
		justify-content: initial;
		align-items: initial;
	}
	.the-problem-tab .name_formula .formula-title{
		font-size: 3.6vw !important;
	}

	.the-problem-tab .image_formula {
		transform: translateY(-1.5rem);
		width: auto;
	}

	.the-problem-tab .odor_appearance {
		justify-content: initial;
		gap: 8rem;
		margin-top: 0px;
	}

	.the-problem-tab .found_in {
		max-width: 400px;
		margin-top: 60px;
		margin-bottom: 50px;
	}

	.the-problem-tab .how_it_harm {
		margin-bottom: 33px;
	}

	.the-problem-tab .odor p:first-child,
.the-problem-tab .appearance p:first-child,
.the-problem-tab .how_it_harm p:first-child,
.the-problem-tab .effects_of_exposure p:first-child  {
  font-size: 12px !important;
}
  .the-problem-tab .tabs {
		display: flex;
	}

	.mobile-dropdown {
		display: none;
	 }
}