@media screen and (max-width: 749px) {
  .collection-tabs__gush{
    gap: 15px;
  }
  .collection-tabs__name{
    white-space: nowrap;
    font-size: 10px !important;
    margin-bottom: 25px !important;
  }
  .collection .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 100%;
  }

	.collection .grid {
		row-gap: 30px;
		margin-top: 30px;
	}

  .card_des span {
    position: absolute;
		top: 5px;
    right: 5px;
    background-color: rgb(var(--color-secondary-1));
		height: 20px;
		width: 20px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
  }

	.card_des span svg {
		height: 12px;
  }

	#main-collection-filters.gush-page-width, .collection.gush-page-width {
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}
}

@media screen and (max-width: 989px) {
  .collection .slider.slider--tablet {
    margin-bottom: 1.5rem;
  }
}

.collection .loading-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 0 1.5rem;
  opacity: 0.7;
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    padding-left: 5rem;
    padding-right: 5rem;
  }

	#main-collection-filters.gush-page-width {
		padding: 0px 10rem !important;
	}

	.collection.gush-page-width {
		padding: 50px 10rem !important;
	}
}

.collection.loading .loading-overlay {
  display: block;
}

.collection--empty .title-wrapper {
  margin-top: 10rem;
  margin-bottom: 15rem;
}

.collection__view-all {
  margin-top: 2rem;
}
